.page {
    height: 100px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 20px;
}

.copyright-div {
    display: flex;
    align-items: flex-end;
    align-items: center;
}

.copyright-div>img {
    height: 10px;
    width: 10px;
}