<div *ngIf="food !== null && food !== undefined" class="menu-item-layout" (click)="open(content)">
    <img src="/assets/images/menu-items/chicken-tikka-kebab.jpg" loading="lazy">
    <div class="menu-item-main">
        <span class="item-name">{{food.name}}</span>
        <p *ngIf="displayDescription" class="menu-desc">{{food.description}}</p>
        <span class="price"><b>{{food.price | currency: 'GBP'}}</b></span>
        <small *ngIf="displayOrderBy">Order By: {{orderBy | date : 'EE d LLL'}}</small>
    </div>

</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{food.name}}</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <p class="menu-desc">{{food.description}}</p>
        <div class="flex-row-space-between">
            <div style="width: 50px;">
                <div style="height: 25px;
                width: 25px;
                border: 1px solid #46bb4c;
                display: flex;
                justify-content: center;
                align-items: center;" *ngIf="food.vegetarian === true">
                    <span style="height: 15px;width: 15px;border-radius: 50%;background-color: #46bb4c;"></span>
                </div>
            </div>

            <div style="margin-left: 15px;width: 50px;" class="flex-row">
                <img src="/assets/icons/jalapeno.png" [class.selectedSpice]="food.spice > 0" class="spice" placement="top" ngbTooltip="Mild">
                <img src="/assets/icons/jalapeno.png" [class.selectedSpice]="food.spice > 1" class="spice" placement="top" ngbTooltip="Hot">
                <img src="/assets/icons/jalapeno.png" [class.selectedSpice]="food.spice > 2" class="spice" placement="top" ngbTooltip="Extra Hot">
            </div>
        </div>
        <div class="flex-column section" *ngIf="food.choices !== null && food.choices !== undefined && food.choices.length > 0">
            <span class="section-header">Choose One</span>
            <div class="flex-column" *ngFor="let choice of food.choices">
                <div class="flex-row-space-between" style="margin: 5px 0;">
                    <div class="ng-form-control">
                        <input type="radio" name="favorite_pet" value="{{choice.name}}" id="{{choice.name}}" (change)="handleChoiceSelection($event)">
                        <label for="{{choice.name}}">{{choice.name}}</label>
                    </div>
                    <span class="model-extra-price ml-5">{{choice.price | currency: 'GBP'}}</span>
                </div>
            </div>
        </div>

        <!-- Extras -->
        <div class="flex-column section" *ngIf="food.extras !== null && food.extras !== undefined && food.extras.length > 0">
            <span class="section-header">Add Extra</span>
            <div class="flex-column" *ngFor="let extra of food.extras">
                <div class="flex-row-space-between" style="margin: 5px 0;">
                    <div class="ng-form-control">
                        <input type="checkbox" name="favorite_pet" value="{{extra.name}}" id="{{extra.name}}" (change)="selectExtra(extra.name,$event)">
                        <label for="{{extra.name}}">{{extra.name}}</label>
                    </div>
                    <span class="model-extra-price ml-5">{{extra.price | currency: 'GBP'}}</span>
                </div>

            </div>
        </div>

        <div style="display: flex;justify-content: center;">
            <div style="border: 1px solid var(--border);padding: 5px;display: flex;justify-content: space-around;">
                <button style="border:none;margin-right: 5px;" (click)="decreaseQuantity()"> - </button>
                <span class="qty-value">{{quantity}}</span>
                <button style="border:none;margin-left: 5px;" (click)="increaseQuantity()">+</button>
            </div>
        </div>

        <div style="display: flex;justify-content: center;">
            <span class="text-center" style="font-size: large;margin: 10px;"><b>{{price | currency: 'GBP'}}</b></span>
        </div>
    </div>
    <!-- <div class="modal-footer"> -->
    <div class="modal-footer flex-column" style="margin: 10px;padding: 10px;gap:.6rem;">
        <button (click)="addToOrder()" class="n-button" style="width: 200px;">Add to Cart</button>
    </div>
    <!-- </div> -->
</ng-template>