<div *ngIf="menu !== null && menu !== undefined" class="menu-item-layout" (click)="open(content)">
    <!-- <img src="/assets/images/menu-items/chicken-tikka-kebab.jpg" loading="lazy"> -->
    <div class="menu-item-main">
        <span class="item-name">{{menu.name}}</span>
        <p *ngIf="displayDescription" class="menu-desc">{{menu.description}}</p>
        <span class="price"><b>from {{menu.price | currency: 'GBP'}}</b></span>
        <small *ngIf="displayOrderBy">Order By: {{orderBy | date : 'EE d LLL'}}</small>
    </div>

</div>

<ng-template #example>
    <div  class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">Save changes</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
</ng-template>


<ng-template #content let-modal>
    
    <div class="modal-header">
        <!-- <h4 class="modal-title" id="modal-basic-title">{{menu.name}}</h4> -->
        <span></span>
        <button type="button" class="btn-modal-close" aria-label="Close" (click)="modal.dismiss('Cross click')">X</button>
    </div>
    <div class="modal-body">
        <h4 class="modal-title" id="modal-basic-title">{{menu.name}}</h4>
        <span class="flex-row justify-content-center" style="font-size: 15px;font-weight: normal;margin: 10px 0;"><b>{{menu.price | currency: 'GBP'}}</b></span>
        <p class="menu-desc">{{menu.description}}</p>
        <div class="flex-row-space-between">
            <div style="width: 50px;">
                <div style="height: 25px;
                width: 25px;
                border: 1px solid #46bb4c;
                display: flex;
                justify-content: center;
                align-items: center;" *ngIf="menu.vegetarian === true">
                    <span style="height: 15px;width: 15px;border-radius: 50%;background-color: #46bb4c;"></span>
                </div>
            </div>

            <div style="margin-left: 15px;width: 50px;" class="flex-row">
                <img src="/assets/icons/jalapeno.png" [class.selectedSpice]="menu.spice > 0" class="spice" placement="top" ngbTooltip="Mild">
                <img src="/assets/icons/jalapeno.png" [class.selectedSpice]="menu.spice > 1" class="spice" placement="top" ngbTooltip="Hot">
                <img src="/assets/icons/jalapeno.png" [class.selectedSpice]="menu.spice > 2" class="spice" placement="top" ngbTooltip="Extra Hot">
            </div>
        </div>
        <div class="flex-column" *ngIf="menu.choices !== null && menu.choices !== undefined && menu.choices.length > 0">
            <span style="background-color: #efedea;padding: 10px;font-weight: 600;margin: 10px 0;">Choose One</span>
            <div class="flex-column" *ngFor="let choice of menu.choices">
                <div class="flex-row-space-between" style="margin: 5px 0;">
                    <div class="ng-form-control">
                        <input type="radio" name="favorite_pet" value="{{choice.name}}" id="{{choice.name}}" (change)="handleChoiceSelection($event)">
                        <label for="{{choice.name}}">{{choice.name}}</label>
                    </div>
                    <span class="model-extra-price ml-5">{{choice.price | currency: 'GBP'}}</span>
                </div>
            </div>
        </div>

        <!-- Extras -->
        <div class="flex-column" *ngIf="menu.extras !== null && menu.extras !== undefined && menu.extras.length > 0">
            <span style="background-color: #efedea;padding: 10px;font-weight: 600;margin: 10px 0;">Add Extras</span>
            <div class="flex-column" *ngFor="let extra of menu.extras">
                <div class="flex-row-space-between" style="margin: 5px 0;">
                    <div class="ng-form-control">
                        <input type="checkbox" name="favorite_pet" value="{{extra.name}}" id="{{extra.name}}" (change)="selectExtra(extra.name,$event)">
                        <label for="{{extra.name}}">{{extra.name}}</label>
                    </div>
                    <span class="model-extra-price ml-5">{{extra.price | currency: 'GBP'}}</span>
                </div>

            </div>
        </div>

    </div>
    <!-- <div class="modal-footer"> -->
    <div class="modal-footer flex-column" style="margin: 10px;padding: 10px;gap:.6rem;">
        <div style="display: flex;justify-content: center;">
            <div style="padding: 5px;display: flex;justify-content: space-around;align-items: center;">
                <div class="qty-btn-container">
                    <img src="/assets/icons/minus.png" class="qty-btn" (click)="decreaseQuantity()">
                </div>
                <span class="qty-value">{{quantity}}</span>
                <div class="qty-btn-container">
                    <img src="/assets/icons/plus.png" class="qty-btn" (click)="increaseQuantity()">
                </div>
            </div>
        </div>
        <div class="flex-row-space-between btn-add-to-order" (click)="addToOrder()">
            <span style="font-weight: 500;font-size: large;">Add to order</span>
            <span class="text-center" style="font-size: large;margin: 10px;"><b>{{price | currency: 'GBP'}}</b></span>
        </div>
        <!-- <button (click)="addToOrder()" class="n-button" style="width: 200px;">Add to Cart</button> -->
    </div>
    <!-- </div> -->
</ng-template>