<ng-container *ngIf="(loadStripe$ | async) as stripe; else loadingStripe"></ng-container>

<div class="container-fluid">
    <div class="flex-row-space-between align-items-center">
        <div class="back" (click)="goback()">
            <fa-icon [icon]="faArrowLeft"></fa-icon>
        </div>
        <span class="a-page-header">Checkout</span>
        <div>
            <strong *ngIf="order && !orderSubmitted" class="f-size-lg color-red bolder">{{order?.total|
                currency:
                'GBP'}}</strong>
        </div>
    </div>
    <div class="flex-column" style="max-height:500px; overflow-y: auto;">
        <div class="flex-column sm bg-light p-2 mt-2" *ngIf="!showHomeScreen">
            <div class="flex-row jcsb aic">
                <span class="bold fs-5">Items</span>
                <fa-icon *ngIf="!openItems" [icon]="faPlus" (click)="openCloseItems()" class="btn-circle"></fa-icon>
                <fa-icon *ngIf="openItems" [icon]="faMinus" (click)="openCloseItems()" class="btn-circle"></fa-icon>
            </div>
            <ng-template *ngIf="openItems" [ngTemplateOutlet]="items"></ng-template>
        </div>
        <div class="flex-column sm bg-light  p-2 mt-2" *ngIf="!showHomeScreen">
            <div class="flex-row jcsb aic">
                <span class="bold fs-5">Your details</span>
                <fa-icon *ngIf="!yourDetails" [icon]="faPlus" (click)="openCloseDetails()" class="btn-circle"></fa-icon>
                <fa-icon *ngIf="yourDetails" [icon]="faMinus" (click)="openCloseDetails()" class="btn-circle"></fa-icon>
            </div>
            <ng-template *ngIf="yourDetails" [ngTemplateOutlet]="details"></ng-template>
        </div>
        <div class="flex-column sm bg-light  p-2 mt-2" *ngIf="!showHomeScreen">
            <div class="flex-row jcsb aic">
                <span class="bold fs-5">Your address</span>
                <fa-icon *ngIf="!yourAddress" [icon]="faPlus" (click)="openCloseAddress()" class="btn-circle"></fa-icon>
                <fa-icon *ngIf="yourAddress" [icon]="faMinus" (click)="openCloseAddress()" class="btn-circle"></fa-icon>
            </div>
            <ng-template *ngIf="yourAddress" [ngTemplateOutlet]="address"></ng-template>
        </div>
    </div>

    <div class="container mt-3 lg">
        <div class="row">
            <div class="col flex-column lg">
                <app-order-item *ngFor="let item of order?.items" [item]="item" [editable]=false></app-order-item>
                <div class="flex-column mt-2 w-100">
                    <div class="flex-row-space-between">
                        <strong>Subtotal</strong>
                        <strong>{{order?.subTotal| currency: 'GBP'}}</strong>
                    </div>
                    <div class="flex-row-space-between">
                        <span>Delivery fee</span>
                        <span>{{order?.deliveryFee| currency: 'GBP'}}</span>
                    </div>
                    <div class="flex-row-space-between">
                        <span>Service Fee</span>
                        <span>{{order?.serviceFee| currency: 'GBP'}}</span>
                    </div>
                    <div class="flex-row-space-between" style="margin-top: 10px;">
                        <strong>Total</strong>
                        <strong>{{order?.total| currency: 'GBP'}}</strong>
                    </div>
                </div>
            </div>
            <div class="col">
                <div *ngIf="showHomeScreen" class="flex-column p-3 border">
                    <div class="flex-row mb-2 border-bottom py-2 aic">
                        <span>Do you have an account?</span>
                        <!-- <span [routerLink]="['/login']" [queryParams]="{returnUrl: 'checkout'}" class="clickable ml-2">Login</span> -->
                        <button type="button" [routerLink]="['/login']" [queryParams]="{returnUrl: '/f/checkout'}" class="btn btn-outline-dark px-3 ml-3">Login</button>
                    </div>
                    <div class="flex-row py-2 aic">
                        <span>Don't have an account?</span>
                        <!-- <span [routerLink]="['/register']" class="clickable ml-2">Signup</span> -->
                        <button type="button" [routerLink]="['/register']" [queryParams]="{returnUrl: '/f/checkout'}" class="btn btn-outline-dark px-3 ml-3">Signup</button>
                    </div>
                </div>

                <div *ngIf="showCustomerDetailsSection" class="flex-column">
                    <span class="bold fs-5 mb-2 border-bottom mb-4">Your details</span>
                    <ng-template [ngTemplateOutlet]="details"></ng-template>
                </div>

                <div *ngIf="showServiceModeSection" class="flex-column p-3">
                    <ng-template [ngTemplateOutlet]="address"></ng-template>
                </div>

                <div *ngIf="showOrderConfirmation">
                    <div class="flex-column jcc aic bg-light p-4">
                        <span>Your order has been submitted</span>
                        <span class="f-size-xl mt-4 bolder big-text">{{order?.reference}}</span>
                    </div>
                </div>

                <div *ngIf="!showOrderConfirmation" class="lg flex-row jcsb p-1 h-5 px-3 my-3">
                    <span *ngIf="showHomeScreen || showCustomerDetailsSection"></span>

                    <button type="button" *ngIf="!showHomeScreen && !showCustomerDetailsSection && !orderSubmitted" class="btn-lift" (click)="previous()" tabindex="4" style="float: left;min-width: 100px;">Your details</button>
                    <button type="button" *ngIf=" !showHomeScreen && !showServiceModeSection" class="btn-lift" style="float: right;min-width: 100px;" (click)="next()" tabindex="5">Next</button>
                    <div *ngIf="loading" class="d-flex jcc aic p-3">
                        <div class="loader"></div>
                    </div>
                    <button *ngIf="showServiceModeSection" (click)="placeOrder(stripeContent)" tabindex="5" class="btn-lift">Go to payment
                    </button>
                    <!-- <button type="button" [disabled]="loading" *ngIf="showPlaceOrderButton && chef.paymentRequireApproval && !orderSubmitted" class="btn-navy btn-xs" style="float: right;min-width: 100px;" (click)="placeOrder(null)" tabindex="5">Submit your order</button> -->
                </div>

                <div *ngIf="showStripeSection">
                    <div id="cardInfo" #cardInfo style="border: 1px solid var(--v-border);padding: 12px 5px;">
                        <!--Stripe.js injects the Card Element-->
                    </div>
                    <div id="payment-element">
                        <!--Stripe.js injects the Payment Element-->
                    </div>
                    <button id="paywithCardButton" [disabled]="!enablePayButton" class="n-button" (click)="confirmPayment()">Pay {{
                        order?.subTotal| currency: 'GBP'}}</button>
                    <small class="text-muted">By selecting this button, you
                        agree to the Terms of
                        Sale.</small>

                    <div id="cardErrors" *ngIf="cardErrors">{{cardErrors}}</div>
                    <div id="payment-result-section" class="payment-result-section hidden">
                        <span id="payment-message"></span>
                    </div>
                    <div class="my-5">
                        <img src="/assets/icons/secure-stripe-payment-logo.png" class="stripe-logo" />
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="sm footer">
        <div class="flex-row p-1 w-100 flex-grow">
            <button type="button" *ngIf="canShowPlaceOrderButton()" class="btn-bug flex-grow" (click)="placeOrder(stripeContent)">PROCEED TO PAY</button>
        </div>
    </div>
</div>

<ng-template #details>
    <div class="flex-column">
        <div class="flex-column mb-3">
            <label for="customerName">Your name on order (for when
                you collect)<small
                    style="color: red;">**</small></label>
            <input class="fb-input" type="text" name="customerName" tabindex="0" autocomplete="off" value [(ngModel)]="customerName" #ctrl="ngModel" required="true">
        </div>
        <div class="flex-column mb-3">
            <label for="customerMobile">Your mobile<small
                    style="color: red;">**</small></label>
            <input class="fb-input" type="mobile" name="customerMobile" tabindex="1" autocomplete="off" value [(ngModel)]="customerMobile" #ctrl="ngModel" required="true">
        </div>
        <div class="flex-column">
            <label for="customerEmail">Your email<small
                    style="color: red;">**</small></label>
            <input class="fb-input" type="email" name="customerEmail" tabindex="2" autocomplete="off" value [(ngModel)]="customerEmail" #ctrl="ngModel" required="true" readonly>
        </div>
        <div class="flex-column my-3">
            <label for="notesToChef" class="bold my-2">Leave a note</label>
            <p>Leave a note for the chef with anything they need to know (e.g. the doorbell doesn't work). Do not include details about any allergies here.</p>
            <input class="fb-input" type="text" name="notesToChef" tabindex="2" autocomplete="off" value [(ngModel)]="notesToChef" #ctrl="ngModel" required="true">
        </div>
    </div>
</ng-template>
<ng-template #address>
    <div class="flex-column">
        <div style="margin-bottom: 30px;background-color: #efedea;display: flex;height: 50px;justify-content: space-around;margin: 8px 0 16px;padding: 3px;">
            <button class="service-mode" (click)="selectPickup()" [class.bg-warning]="serviceMode==='COLLECTION'"><fa-icon
                    [icon]="faPersonBiking"
                    class="mr-1"></fa-icon>Collection</button>
            <button class="service-mode" (click)="selectDelivery()" [class.bg-warning]="serviceMode==='DELIVERY'" [disabled]="!chef.doDelivery"><fa-icon
                    [icon]="faBox"
                    class="mr-1"></fa-icon>Delivery</button>
        </div>
        <div *ngIf="serviceMode === 'COLLECTION'" style=" padding: 1rem;display: flex;flex-direction: column;background-color: var(--light-background);flex-grow: 1;margin-right: 10px;">
            <strong style="display: block;">Please collect
                at</strong>
            <span style="display: block;">{{chef.address.addressLine1}}</span>
            <span style="display: block;">{{chef.address.addressLine2}}</span>
            <span style="display: block;">{{chef.address.city}}</span>
            <span style="display: block;">{{chef.address.postcode}}</span>
        </div>
        <div style=" display: flex;flex-direction: column;" *ngIf="chef.doDelivery  && serviceMode === 'DELIVERY'">
            <strong>Where should we send your order?</strong>
            <div class="flex-row-space-between align-items-center" *ngIf="customerAddress !== null && customerAddress !== undefined && customerAddress.addressLine1 !== null && customerAddress.addressLine1 !== undefined &&  customerAddress.addressLine1.length > 0">
                <div style=" padding: 1rem;display: flex;flex-direction: column;background-color: var(--light-background);flex-grow: 1;margin-right: 10px;">
                    <span *ngIf="customerAddress.addressLine1 !== undefined &&  customerAddress.addressLine1.length > 0">{{
                        customerAddress.addressLine1
                        }}</span>
                    <span *ngIf="customerAddress.addressLine2 !== undefined &&  customerAddress.addressLine2.length > 0">{{
                        customerAddress.addressLine2
                        }}</span>
                    <span *ngIf="customerAddress.city !== undefined &&  customerAddress.city.length > 0">{{
                        customerAddress.city
                        }}</span>
                    <span *ngIf="customerAddress.country !== undefined &&  customerAddress.country.length > 0">{{
                        customerAddress.country }}</span>
                </div>
                <div>
                    <button class="btn-bug py-2" (click)="showAddressLookup()">Change</button>
                </div>
            </div>
            <div class="postcode-lookup-container" *ngIf="lookupAddress">
                <input class="fb-input" type="text" name="postcode" id="postcode" tabindex="4" autocomplete="off" value [(ngModel)]="addressLookupPostcode" #ctrl="ngModel" placeholder="Enter your postcode">
                <button class="btn-bug py-2" (click)="findAddress()">Find</button>
            </div>
            <div *ngIf="postcodeAddressList !== undefined && postcodeAddressList.length > 0 && !addressSelected">
                <div style="border: 1px solid var(--light-border);overflow-y: auto;height: 100px;margin-top: 5px;padding: 5px;">
                    <div class="address-item" *ngFor="let add of postcodeAddressList" (click)="onSelectDeliveryAddress(add)">
                        <span> {{add.StreetAddress }},
                            {{add.Place}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #items>
    <div *ngIf="order !== null && order !== undefined" class="flex-column">
        <app-order-item *ngFor="let item of order?.items" [item]="item" [editable]="false"></app-order-item>
    </div>
</ng-template>

<ng-template #itemsContent let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Your Items</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div style="display: flex;flex-direction: column;height: 380px;overflow: auto;padding-bottom: 10px;">
            <div *ngIf="order !== null && order !== undefined">
                <app-order-item *ngFor="let item of order?.items" [item]="item"></app-order-item>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #stripeContent let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Secure Pay</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <app-stripeform [order]="order" [paymentIntentId]="order.paymentIntentId" [clientSecret]="order.clientSecret"></app-stripeform>
    </div>

</ng-template>

<ng-template #loadingStripe>
    Loading.... Please wait!
</ng-template>