<div class="container-fluid">
    <div class="row">
        <div class="col-3 profile-section">
            <div class="section-header">
                Profile
            </div>
        </div>
        <div class="col-6 main-section">
            <div class="main-profile-section">
                <img src="/assets/images/users/user1.jpg" width="100px" height="100">
                <div class="main-profile-info-section">
                    <strong>KFC</strong>
                    <span>Collect at</span>
                    <span>Nitshill Rd, Glasgow G53 7Rs</span>

                    <div class="flex-row">
                        <span style="margin-right: 20px;">Service options:</span>
                        <span style="margin: 0 5px;">Collection</span>
                        <span style="margin: 0 5px;">Delivery</span>
                    </div>
                </div>
            </div>
            <div class="section-header">
                Menu
            </div>
        </div>
        <div class="col-3 order-section">
            <div class="section-header">
                Order
            </div>
        </div>
    </div>
</div>