.profile-section {
    display: none;
}

.main-section {
    border-right: 1px solid var(--border);
    height: 500px;
    width: 100%;
}

.main-profile-section {
    display: flex;
    gap: 0.3rem;
}

.main-profile-info-section {
    display: flex;
    flex-direction: column;
}

.order-section {
    display: none;
}

.section-header {
    padding: 10px;
    border-bottom: 1px solid var(--border);
}


/* Tablet */

@media (min-width: 600px) {}


/* Desktop/laptop */

@media (min-width: 900px) {
    .profile-section {
        display: flex;
        flex-direction: column;
        border-right: 1px solid var(--border);
        height: 500px;
        padding: 0;
        width: 25%;
    }
    .main-section {
        display: flex;
        flex-direction: column;
        border-right: 1px solid var(--border);
        height: 500px;
        padding: 0;
        width: 50%;
    }
    .main-profile-section {
        display: none;
    }
    .order-section {
        display: flex;
        flex-direction: column;
        height: 500px;
        padding: 0;
        width: 25%;
    }
}