@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');
.page {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
}

.menu-icon {
    padding: 0 6px;
    font-size: 15px;
}

.menu-icon:hover {
    cursor: pointer;
    color: var(--red);
}

.logo {
    cursor: pointer;
    font-size: 30px;
    font-family: 'Protest Guerrilla', sans-serif;
    padding: 0 20px;
}

.logo-icon,
.cart-icon {
    font-size: 20px;
}

.cart-icon {
    margin-right: 5px;
}

.cart-icon:hover {
    cursor: pointer;
    color: var(--d-orange);
}