@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
.application-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 99;
}


/* Mobile First */

.top-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    box-shadow: 0 15px 40px -20px rgba(40, 44, 63, 0.15);
    padding: 0 10px;
}

.top-row>div:nth-child(1) {
    grid-column: span 3;
}

.location-container {
    display: none;
}

.location-slug {
    font-weight: 500;
    opacity: 0.7;
}

.location-slug:hover {
    text-decoration: underline;
    cursor: pointer;
    color: var(--black);
}

.left-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.right-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logo {
    font-size: 25px;
    cursor: pointer;
    font-weight: 900;
    font-family: "Abril Fatface", serif;
}

.change-location {
    cursor: pointer;
    border: 1px solid black;
    text-decoration: underline;
}

.change-location:hover {
    cursor: pointer;
    background-color: aqua;
    color: white;
}

.cart-items-count {
    padding-right: 5px;
}

.cart-section {
    display: flex;
}


/* Tablet */

@media (min-width: 600px) {
    .top-row {
        /* grid-template-columns: repeat(NUM_COLUMNS, 1fr) */
        grid-template-columns: repeat(4, 1fr);
    }
    .top-row>div:nth-child(1) {
        grid-column: span 3;
    }
    .location-container {
        display: none;
    }
}


/* Desktop */

@media (min-width: 800px) {
    .top-row {
        /* grid-template-columns: repeat(4, 1fr); */
        grid-template-columns: 2fr 2fr 1fr 1fr;
    }
    .top-row>div:nth-child(1) {
        grid-column: span 3;
    }
    .location-container {
        display: flex;
        justify-content: space-between;
        gap: 0.8rem;
        align-items: center;
        padding: 5px;
        margin-left: 10px;
    }
}