<ng-container *ngIf="(loadStripe$ | async) as stripe; else loadingStripe"></ng-container>

<div class="container">
    <div class="flex-row-space-between align-items-center">
        <div class="arrow-icon-div" (click)="goback()">
            <fa-icon [icon]="faArrowLeft"></fa-icon>
        </div>
        <span class="a-page-header">Checkout</span>
        <div>
            <strong *ngIf="order && !orderSubmitted" class="f-size-lg color-red bolder">{{order?.total|
                currency:
                'GBP'}}</strong>
        </div>

    </div>
    <div class="flex-row jcsb ais my-3 main">
        <div class="lg left flex-column bg-light overflow-y br-25 p-3">
            <div class="w-100">
                <app-order-item *ngFor="let item of order?.items" [item]="item" [editable]=false></app-order-item>
            </div>
            <div class="flex-column mt-2 w-100">
                <div class="flex-row-space-between">
                    <strong>Subtotal</strong>
                    <strong>{{order?.subTotal| currency: 'GBP'}}</strong>
                </div>
                <div class="flex-row-space-between">
                    <span>Delivery fee</span>
                    <span>{{order?.deliveryFee| currency: 'GBP'}}</span>
                </div>
                <div class="flex-row-space-between">
                    <span>Service Fee</span>
                    <span>{{order?.serviceFee| currency: 'GBP'}}</span>
                </div>
                <div class="flex-row-space-between" style="margin-top: 10px;">
                    <strong>Total</strong>
                    <strong>{{order?.total| currency: 'GBP'}}</strong>
                </div>
            </div>
            <!-- The following image absolute works fine when screen resizing -->
            <!-- <div style="max-height: 100%;max-width: 100%;padding: 30px;">
                <img src="/assets/images/food.jpeg" style="object-fit: cover;max-height: 100%;max-width: 100%;">
            </div> -->
        </div>
        <div class="overflow-y p-3" id="contentDiv">
            <div style="min-width: 100%;display: flex;flex-direction: column;">
                <div *ngIf="!showOrderConfirmation" class="sub-header">{{divHeader}}</div>
                <div *ngIf="showHomeScreen" class="flex-column p-3 border br-25">
                    <div class="flex-row mb-2 border-bottom py-2 aic">
                        <span>Do you have an account?</span>
                        <!-- <span [routerLink]="['/login']" [queryParams]="{returnUrl: 'checkout'}" class="clickable ml-2">Login</span> -->
                        <button type="button" [routerLink]="['/login']" [queryParams]="{returnUrl: 'checkout'}" class="btn btn-outline-dark px-3 ml-3">Login</button>
                    </div>
                    <div class="flex-row py-2 aic">
                        <span>Don't have an account?</span>
                        <!-- <span [routerLink]="['/register']" class="clickable ml-2">Signup</span> -->
                        <button type="button" [routerLink]="['/register']" [queryParams]="{returnUrl: 'checkout'}" class="btn btn-outline-dark px-3 ml-3">Signup</button>
                    </div>
                </div>
                <div *ngIf="showCustomerDetailsSection" class="flex-column p-3">
                    <div class="flex-column mb-3">
                        <label for="customerName">Your name on order (for when
                            you collect)<small
                                style="color: red;">**</small></label>
                        <input class="fb-input" type="text" name="customerName" tabindex="0" autocomplete="off" value [(ngModel)]="customerName" #ctrl="ngModel" required="true">
                    </div>
                    <div class="flex-column mb-3">
                        <label for="customerMobile">Your mobile<small
                                style="color: red;">**</small></label>
                        <input class="fb-input" type="mobile" name="customerMobile" tabindex="1" autocomplete="off" value [(ngModel)]="customerMobile" #ctrl="ngModel" required="true">
                    </div>
                    <div class="flex-column">
                        <label for="customerEmail">Your email<small
                                style="color: red;">**</small></label>
                        <input class="fb-input" type="email" name="customerEmail" tabindex="2" autocomplete="off" value [(ngModel)]="customerEmail" #ctrl="ngModel" required="true" readonly>
                    </div>
                </div>
                <div *ngIf="showServiceModeSection" class="flex-column p-3">
                    <div style="margin-bottom: 30px;background-color: #efedea;display: flex;height: 50px;justify-content: space-around;margin: 8px 0 16px;padding: 3px;">
                        <button class="service-mode" (click)="selectPickup()" [class.bg-warning]="serviceMode==='COLLECTION'"><fa-icon
                                [icon]="faPersonBiking"
                                class="mr-1"></fa-icon>Collection</button>
                        <button class="service-mode" (click)="selectDelivery()" [class.bg-warning]="serviceMode==='DELIVERY'" [disabled]="!chef.doDelivery"><fa-icon
                                [icon]="faBox"
                                class="mr-1"></fa-icon>Delivery</button>
                    </div>
                    <div *ngIf="serviceMode === 'COLLECTION'" style=" padding: 1rem;display: flex;flex-direction: column;background-color: var(--light-background);flex-grow: 1;margin-right: 10px;">
                        <strong style="display: block;">Please collect
                            at</strong>
                        <span style="display: block;">{{chef.address.addressLine1}}</span>
                        <span style="display: block;">{{chef.address.addressLine2}}</span>
                        <span style="display: block;">{{chef.address.city}}</span>
                        <span style="display: block;">{{chef.address.postcode}}</span>
                    </div>
                    <div style=" display: flex;flex-direction: column;" *ngIf="chef.doDelivery  && serviceMode === 'DELIVERY'">
                        <strong>Where should we send your order?</strong>
                        <div class="flex-row-space-between align-items-center" *ngIf="customerAddress !== null && customerAddress !== undefined && customerAddress.addressLine1 !== null && customerAddress.addressLine1 !== undefined &&  customerAddress.addressLine1.length > 0">
                            <div style=" padding: 1rem;display: flex;flex-direction: column;background-color: var(--light-background);flex-grow: 1;margin-right: 10px;">
                                <span *ngIf="customerAddress.addressLine1 !== undefined &&  customerAddress.addressLine1.length > 0">{{
                                    customerAddress.addressLine1
                                    }}</span>
                                <span *ngIf="customerAddress.addressLine2 !== undefined &&  customerAddress.addressLine2.length > 0">{{
                                    customerAddress.addressLine2
                                    }}</span>
                                <span *ngIf="customerAddress.city !== undefined &&  customerAddress.city.length > 0">{{
                                    customerAddress.city
                                    }}</span>
                                <span *ngIf="customerAddress.country !== undefined &&  customerAddress.country.length > 0">{{
                                    customerAddress.country }}</span>
                            </div>
                            <div>
                                <button class="n-button" (click)="showAddressLookup()">Change</button>
                            </div>
                        </div>
                        <div class="postcode-lookup-container" *ngIf="lookupAddress">
                            <input class="fb-input" type="text" name="postcode" id="postcode" tabindex="4" autocomplete="off" value [(ngModel)]="addressLookupPostcode" #ctrl="ngModel" placeholder="Enter your postcode">
                            <button class="btn btn-outline-primary btn-sm" (click)="findAddress()" style="margin-right: 8px;">Find</button>
                        </div>
                        <div *ngIf="postcodeAddressList !== undefined && postcodeAddressList.length > 0 && !addressSelected">
                            <div style="border: 1px solid var(--light-border);overflow-y: auto;height: 100px;margin-top: 5px;padding: 5px;">
                                <div class="address-item" *ngFor="let add of postcodeAddressList" (click)="onSelectDeliveryAddress(add)">
                                    <span> {{add.StreetAddress }},
                                        {{add.Place}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div *ngIf="showItemsSection" class="flex-column p-3 mb-5">
                    <div style="margin-bottom: 6px;">
                        <label for="notesToChef">Notes to chef</label>
                        <input class="fb-input" type="text" name="notesToChef" tabindex="2" autocomplete="off" value [(ngModel)]="notesToChef" #ctrl="ngModel" required="true">
                    </div>
                    <div style="display: flex;flex-direction: column;max-height: 380px;overflow: auto;padding-bottom: 10px;" *ngIf="order !== null && order !== undefined">
                        <app-order-item *ngFor="let item of order?.items" [item]="item"></app-order-item>
                    </div>
                </div>
                <div *ngIf="showPaymentSection" class="flex-column p-3">
                    <div class="flex-row-space-between">
                        <strong>Subtotal</strong>
                        <strong>{{order?.subTotal| currency: 'GBP'}}</strong>
                    </div>
                    <div class="flex-row-space-between">
                        <span>Delivery fee</span>
                        <span>{{order?.deliveryFee| currency: 'GBP'}}</span>
                    </div>
                    <div class="flex-row-space-between">
                        <span>Service Fee</span>
                        <span>{{order?.serviceFee| currency: 'GBP'}}</span>
                    </div>
                    <div class="flex-row-space-between" style="margin-top: 10px;">
                        <strong>Total</strong>
                        <strong>{{order?.total| currency: 'GBP'}}</strong>
                    </div>
                    <div *ngIf="chef.paymentRequireApproval" class="alert alert-info p-4 mt-4">
                        <div class="flex-column justify-content-start">
                            <span >Payment requires
                                Pre-approval</span>
                            <span >Step 1. You submit your
                                order.</span>
                            <span >Step 2. YourChef will accept
                                your order.</span>
                            <span >Step 3. You will then make a
                                payment.</span>
                            <small class="mt-2 normal">Once your order accepted
                                by the Chef a Payment
                                link will be sent to your email address
                                <b>{{customerEmail}}</b>.</small>
                        </div>

                    </div>
                </div>
                <div *ngIf="showStripeSection">
                    <div id="cardInfo" #cardInfo style="border: 1px solid var(--v-border);padding: 12px 5px;">
                        <!--Stripe.js injects the Card Element-->
                    </div>
                    <div id="payment-element">
                        <!--Stripe.js injects the Payment Element-->
                    </div>
                    <button id="paywithCardButton" [disabled]="!enablePayButton" class="n-button" (click)="confirmPayment()">Pay {{
                        order?.subTotal| currency: 'GBP'}}</button>
                    <small class="text-muted">By selecting this button, you
                        agree to the Terms of
                        Sale.</small>

                    <div id="cardErrors" *ngIf="cardErrors">{{cardErrors}}</div>
                    <div id="payment-result-section" class="payment-result-section hidden">
                        <span id="payment-message"></span>
                    </div>
                    <div class="my-5">
                        <img src="/assets/icons/secure-stripe-payment-logo.png" class="stripe-logo" />
                    </div>
                </div>
                <div *ngIf="showOrderConfirmation">
                    <div class="flex-column jcc  aic bg-light p-4">
                        <span >Your order has been
                            submitted</span>
                        <span class="f-size-xl mt-4 bolder">{{order?.reference}}</span>
                    </div>
                </div>
                <div *ngIf="loading" class="d-flex jcc aic p-3">
                    <div class="loader"></div>
                </div>

                <div *ngIf="!showOrderConfirmation" class="lg flex-row jcsb p-1 h-5 px-3 my-3">
                    <span *ngIf="showHomeScreen || showCustomerDetailsSection"></span>
                    <button type="button" *ngIf="!showHomeScreen && !showCustomerDetailsSection && !orderSubmitted" class="btn btn-dark btn-xs" (click)="previous()" tabindex="4" style="float: left;min-width: 100px;">Previous</button>
                    <button type="button" *ngIf="!showPlaceOrderButton &&  !showHomeScreen && !orderSubmitted" class="btn btn-primary btn-xs" style="float: right;min-width: 100px;" (click)="next()" tabindex="5">Next</button>
                    <button type="button" *ngIf="showPlaceOrderButton && !chef.paymentRequireApproval && !orderSubmitted" class="btn btn-primary btn-xs" style="float: right;min-width: 100px;" (click)="placeOrder(stripeContent)" tabindex="5">Proceed
                        to Pay</button>
                    <button type="button" [disabled]="loading" *ngIf="showPlaceOrderButton && chef.paymentRequireApproval && !orderSubmitted" class="btn btn-primary btn-xs" style="float: right;min-width: 100px;" (click)="placeOrder(null)" tabindex="5">Submit your order</button>
                </div>
            </div>
        </div>
    </div>
    <div class="sm footer " *ngIf="!showOrderConfirmation">
        <div class="flex-row-space-between align-items-center p-1 h-5 mt-3 bg-light">
            <span *ngIf="showHomeScreen || showCustomerDetailsSection"></span>
            <button type="button" *ngIf="!showHomeScreen && !showCustomerDetailsSection && !orderSubmitted" class="btn btn-dark btn-xs" (click)="previous()" tabindex="4" style="float: left;min-width: 100px;">Previous</button>
            <button type="button" *ngIf="!showPlaceOrderButton &&  !showHomeScreen && !orderSubmitted" class="btn btn-primary btn-xs" style="float: right;min-width: 100px;" (click)="next()" tabindex="5">Next</button>
            <button type="button" *ngIf="showPlaceOrderButton && !chef.paymentRequireApproval && !orderSubmitted" class="btn btn-success btn-xs" style="float: right;min-width: 100px;" (click)="placeOrder(stripeContent)" tabindex="5">Proceed
                to Pay</button>
            <button type="button"  [disabled]="loading" *ngIf="showPlaceOrderButton && chef.paymentRequireApproval && !orderSubmitted" class="btn btn-primary btn-xs" style="float: right;min-width: 100px;" (click)="placeOrder(null)" tabindex="5">Submit your
                order</button>
        </div>
    </div>
</div>

<ng-template #itemsContent let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Your Items</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div style="display: flex;flex-direction: column;height: 380px;overflow: auto;padding-bottom: 10px;">
            <div *ngIf="order !== null && order !== undefined">
                <app-order-item *ngFor="let item of order?.items" [item]="item"></app-order-item>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #stripeContent let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Secure Pay</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <app-stripeform [order]="order" [paymentIntent]="paymentIntent"></app-stripeform>
    </div>

</ng-template>

<ng-template #loadingStripe>
    Loading.... Please wait!
</ng-template>