.main {
    /* width: 100%;
    height: 100vh; */
    display: flex;
    overflow-y: hidden;
    padding: 50px 0 0 0;
}

.left {
    display: none;
    width: 50%;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    width: 100%;
}

.data-section {
    padding: 20px;
    min-width: 500px;
}

.delivery-mode-container {
    background-color: #efedea;
    border-radius: 50rem;
    display: flex;
    height: 50px;
    justify-content: space-around;
    margin: 8px 0 16px;
    padding: 3px;
}

.delivery-mode-container>button {
    flex-grow: 1;
}

.service-mode-option {
    border-radius: 50rem;
    border: none;
    padding: 5px 10px;
    background: transparent;
}

.service-mode-option-selected {
    background: var(--green);
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
    border: 1px solid var(--border);
}

.customer-details-container {
    display: flex;
    flex-direction: column;
    min-width: 450px;
}

.customer-delivery-address-container {
    display: flex;
    flex-direction: column;
    min-width: 450px;
}

.customer-address-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customer-address-section {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background-color: var(--light-background);
    flex-grow: 1;
    margin-right: 10px;
}

.postcode-lookup-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.postcode-lookup-container input {
    line-height: 30px;
}

.order-details-container {
    display: flex;
    flex-direction: column;
    min-width: 450px;
    border-left: 5px dotted #eee;
    padding: 10px;
}

.order-details-header,
.customer-details-header {
    display: flex;
    flex-direction: column;
    min-width: 450px;
    border-left: 5px dotted #eee;
    font-weight: 700;
    padding: 10px;
}

.order-details-header:hover {
    background-color: var(--warning);
    cursor: pointer;
}

.chef-name {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.chef-name:hover {
    cursor: pointer;
}

.chef-info-container {
    display: flex;
    flex-flow: row;
}

.accordian-container {
    min-width: 400px;
    max-width: 1100px;
}

.items-container {
    display: flex;
    flex-direction: column;
}

.checkout-button-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: aquamarine;
}

.btn-selected {
    background-color: #eee;
}

.msg {
    /* display: block; */
    margin-top: 8px;
    padding: 8px 12px;
    border: 1px solid var(--border);
    border-radius: 3px;
}

.address-item {
    padding: 0 6px;
}

.address-item:hover {
    background-color: var(--green);
    cursor: pointer;
}

@media (min-width: 600px) {
    .customer-address-container {
        display: flex;
        flex-direction: row;
    }
    .left {
        display: flex;
        overflow: hidden;
        background-image: url('/assets/images/photo-3.jpeg');
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        height: 90vh;
    }
    .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 90vh;
    }
    /* .left img {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        min-height: 100%;
        min-width: 100%;
        transform: translate(-50%, -50%);
        object-fit: contain;
        height: 100vh;
    } */
}