<div class="container">
    <div class="flex-row flex-wrap  my-5 gap-2">
        <!-- <div class="flex-column border flex-grow" style="min-width: 300px;height: 300px;" *ngFor="let group of groups">
            <div style="height: 260px;background-color: rgb(249, 249, 249);"></div>
            <div class="flex-row aic py-3 px-2" style="background-color: antiquewhite;">
                <span >{{group.name}}</span>
            </div>
           
        </div> -->
        <article *ngFor="let group of groups" [routerLink]="[ '/p/groups', group._id] ">
            <div>
                <figure>
                    <img src="{{group.image}}">
                </figure>
                <div class="article-body">
                    <p>
                        {{group.name}}
                    </p>
                    <a class="clickable">
                        Order now <span class="sr-only ">about this is
                            some title</span>
                        <svg xmlns="http://www.w3.org/2000/svg "
                            class="icon " viewBox="0 0 20 20 "
                            fill="currentColor ">
                            <path fill-rule="evenodd "
                                d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z "
                                clip-rule="evenodd " />
                        </svg>
                    </a>
                </div>
            </div>
        </article>
    </div>
</div>

