<div class="main">
    <div class="left lg">
        <!-- <img src="/assets/images/home-cooking.jpeg"> -->
    </div>
    <div class="right flex-column p-2" style="max-height: 700px;overflow-y: auto;">
        <span style="font-weight: 900;font-size: 30px;padding: 10px 0;">Contact Us</span>
        <select #aboutSelection (change)="onChangeAbout()" class="form-select py-3 my-1" aria-label="Default select example">
            <option selected>How can we help you? *</option>
            <option value="I found incorrect outdated/information on a page">I found incorrect outdated/information on a page</option>
            <option value="I would like to give feedback/suggestions">I would like to give feedback/suggestions</option>
            <option value="I would like to become a partner">I would like to become a partner</option>
            <option value="Other">Other</option>
          </select>
        <div class="input-div">
            <input class="_381fS" type="text" name="fullName" id="fullName" tabindex="1" autocomplete="off" value="" [(ngModel)]="fullName" #ctrl="ngModel">
            <div class="_2EeI1 _26LFr"></div>
            <label class="_1Cvlf _2tL9P" for="fullName">Fullname</label>
        </div>
        <div class="input-div">
            <input class="_381fS" type="email" name="email" id="email" tabindex="1" autocomplete="off" value="" [(ngModel)]="email" #ctrl="ngModel">
            <div class="_2EeI1 _26LFr"></div>
            <label class="_1Cvlf _2tL9P" for="email">Email</label>
        </div>
        <div class="input-div">
            <input class="_381fS" type="email" name="mobile" id="mobile" tabindex="1" autocomplete="off" value="" [(ngModel)]="mobile" #ctrl="ngModel">
            <div class="_2EeI1 _26LFr"></div>
            <label class="_1Cvlf _2tL9P" for="email">Mobile</label>
        </div>
        <div class="input-div">
            <textarea rows="5" class="_381tA" name="message" id="message" value [(ngModel)]="message" tabindex="3" #ctrl="ngModel" style="height: 100px;"></textarea>
            <div class="_2EeI1 _26LFr"></div>
            <label class="_1CvtA _2tL9P" for="message">Your Message</label>
        </div>

        <br>
        <button class="big-black-btn" (click)="submit()"><fa-icon [icon]="faPaperPlane" class="mr-1"></fa-icon>Send to us</button>
        <div *ngIf="loading">
            <span>Sending....</span>
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <span *ngIf="response !== null" class="info my-2">{{response}}</span>
        <span *ngIf="errorMessage !== null" class="error my-2">{{errorMessage}}</span>
    </div>
</div>