.order-item-container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 5px 10px;
    margin: 1px 0;
    align-items: center;
    border: 1px solid var(--grey);
}

.order-item-wrapper {
    display: block;
    width: auto;
}