<div style="display: flex;justify-content: center;margin-top: 60px;height: 100vh;">
    <div style="display: flex; flex-direction: column;max-width: 480px;min-width: 410px;">
        <!-- <div style="display: flex;align-items: center;height: 40px;font-size: 15px;font-weight: 200;margin-left: 10px;">
            <div style="background-color: var(--yellow);display: flex;justify-content: center;align-items: center;height: 40px;width: 40px;" (click)="goback()">
                <img src="/assets/icons/left-arrow.png" loading="lazy" height="20px" width="20px">
            </div>
             <span style="padding: 10px;border-bottom: 1px solid var(--navy-grey);text-align: center;font-size: 20px;">YOUR BASKET</span>
        </div> -->
        <div class="flex-row align-items-center">
            <div class="arrow-icon-div" (click)="goback()">
                <fa-icon [icon]="faArrowLeft"></fa-icon>
            </div>
            <span class="a-page-header">YOUR BASKET</span>
        </div>

        <div class="flex-column justify-content-center align-items-center p-1 pb-3">
            <div *ngIf="order !== null && order !== undefined &&  order.items !== null &&  order.items !== undefined &&  order.items.length > 0; then thenBlock else elseBlock">
            </div>
        </div>
        <div style="height: 60px; width: 100%;display: flex;justify-content: center;align-items: center;padding: 10px;">
            <button class="big-grn-btn" [routerLink]="[ '/checkout'] " [disabled]="!(order !== null && order !== undefined &&  order.items !== null &&  order.items !== undefined &&  order.items.length > 0)">
                Checkout</button>
        </div>
    </div>
</div>

<ng-template #elseBlock>
    <div style="margin-top: 100px;display: flex;flex-direction: column;gap: 1rem;justify-content: center;align-items: center;width: 100%;">
        <fa-icon [icon]="faBatteryEmpty" class="fa-2xl" style="opacity: 0.1;"></fa-icon>
        <!-- <img src="/assets/icons/shopping-basket.png" height="100px" width="100px" style="opacity: 0.1;"> -->
        <span style="margin-top: 50px;font-weight: 900;">
            YOUR BASKET IS EMPTY
        </span>
        <p>What are you feeling today? Checkout our Home Cooks</p>
    </div>
</ng-template>

<ng-template #thenBlock>
    <div class="flex-column justify-content-center align-items-center">
        <div style="height: 200px;width: 480px; display: flex;justify-content: center;align-items: center;margin-top: 30px;">
            <img src="/assets/images/chefs/{{chef._id}}/cover-photo.jpg" style="object-fit: contain;width: 100%;height: 100%;max-width: 100%; max-height: 100%;">
        </div>
        <strong class="chef-name" [routerLink]="['/cooks', chef._id]" routerLinkActive="router-link-active">{{chef.kitchenName}}</strong>
        <span>{{getAddress()}}</span>
        <div class="btn-wrapper mt-3" style="width: 100%;">
            <div style="display: flex; justify-content: space-between;">
                <span>Total</span>
                <span style="font-weight: bolder;font-size: 15px;">{{cartTotal | currency: 'GBP'}}</span>
            </div>
        </div>
        <div class="v-scrollable-data-container">
            <div *ngIf="order !== null && order !== undefined">
                <app-order-item *ngFor="let item of order.items" [item]="item"></app-order-item>
            </div>
        </div>
    </div>
</ng-template>