@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
.page {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    height: 100vh;
}

.page-body {
    display: flex;
    flex-direction: column;
    width: 480px;
}

.page-header {
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 15px;
    font-family: "Julius Sans One", sans-serif;
    font-weight: 200;
    margin-left: 10px;
}

.page-header-icon {
    background-color: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
}

.page-header-icon:hover {
    cursor: pointer;
    background-color: var(--yellow);
}

.page-header-icon>img {
    height: 20px;
    width: 20px;
}

.page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-bottom: 60px;
}

.footer {
    height: 60px;
    width: 100%;
}

.checkout-button {
    min-width: 430px;
    max-width: 430px;
    border: none;
    font-weight: 900;
    padding: 20px;
}

.checkout-button:hover {
    cursor: pointer;
    background-color: var(--green);
}

.content-body {
    margin-bottom: 100px;
}

.chef-profile-image-container {
    height: 200px;
    width: 100%;
}

.chef-profile-image {
    object-fit: contain;
    width: 100%;
    height: 100%;
    /* box-sizing: content-box; */
    /* max-width: 100%; */
    /* max-height: 100%; */
}

.go-back {
    margin: 10px;
    height: 50px;
    width: 50px;
    border: 1px solid #fff;
    border-radius: 50%;
    align-items: center;
    padding: 10px;
}

.scroll-left {
    margin: 10px;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    align-items: center;
    padding: 10px;
    background-color: transparent;
}

.scroll-left:hover {
    cursor: pointer;
    background-color: var(--gd_g);
}

.basket-no-items {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.basket-with-items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    max-width: 480px;
}

.empty-bag {
    opacity: 0.1;
}

.chef-name {
    font-size: 1.5em;
}

.chef-name:hover {
    cursor: pointer;
    color: orangered;
}

.chef-info-container {
    display: flex;
}

.items-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.checkout-button-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: aquamarine;
    gap: 20rem;
    min-width: 400px;
}