<div class="container jcc">

    <div class="d-flex jcc px-5">
        <div class="flex-column border mt-3 p-3 jcs width-m px-5">
            <span style="font-weight: 900;font-size: 30px;padding: 10px 0;">Signup</span>
            <form (ngSubmit)="registerUser()" [formGroup]="registerForm" *ngIf="!signupSuccess">
                <div class="h-flex">
                    <div class="input-div">
                        <input type="text" id="firstName" class="form-control _381fS" formControlName="firstName" required />
                        <div class="_2EeI1 _26LFr"></div>
                        <label class="_1Cvlf _2tL9P" for="firstName">First name</label>
                    </div>
                    <div class="input-div">
                        <input type="text" id="lastName" class="form-control _381fS" formControlName="lastName" required />
                        <div class="_2EeI1 _26LFr"></div>
                        <label class="_1Cvlf _2tL9P" for="firstName">Last name</label>
                    </div>
                </div>
                <div class="h-flex">
                    <div class="input-div">
                        <input type="text" id="email" class="form-control _381fS" formControlName="email" required />
                        <div class="_2EeI1 _26LFr"></div>
                        <label class="_1Cvlf _2tL9P" for="email">Email</label>
                    </div>
                    <div class="input-div">
                        <input type="text" id="mobile" class="form-control _381fS" formControlName="mobile" required />
                        <div class="_2EeI1 _26LFr"></div>
                        <label class="_1Cvlf _2tL9P" for="mobile">Mobile</label>
                    </div>
                </div>

                <div class="input-div">
                    <input type="password" id="password" class="form-control _381fS" formControlName="password" required />
                    <div class="_2EeI1 _26LFr"></div>
                    <label class="_1Cvlf _2tL9P" for="mobile">Password</label>
                </div>
                <button type="submit" class="btn-lift mt-3" style="width: 100%;" [class.disabled]="loading">Create
                    Account</button>
                <div style="text-align: center;padding: 10px;font-weight: 600;">
                    Already have an account? <span (click)="signIn()" class="clickable-link">Sign In</span>
                </div>
            </form>
            <div *ngIf="errorMessage !== undefined" class="alert alert-danger p-3">
                <p>{{errorMessage}}</p>
            </div>

            <div *ngIf="signupSuccess" class="alert alert-success p-3">
                <b>You are now registered with Desi Times. <button class="btn btn-warning px-5 bold"
                        [routerLink]="['/login']">Login</button></b>
            </div>
        </div>
    </div>

</div>