.page {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin-top: 60px;
    height: 100vh;
}

.cuisines-container {
    display: flex;
    overflow-x: auto;
    padding: 10px;
    overflow: -moz-scrollbars-none;
}

.cuisine {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 10px;
}

.cuisine:hover {
    cursor: pointer;
    background-color: var(--grey);
}

.cuisine-logo {
    width: 120px;
    height: 90px;
    object-fit: cover;
}

.cuisine-logo:hover {
    transition: 0.5s ease-in-out;
}

.selectedCuisine {
    border: 2px solid var(--blue);
}

.location-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #e3e9ed;
    margin: 5px 10px;
    max-width: 450px;
}

.change-area {
    cursor: pointer;
    font-weight: 800;
}

.container-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dish-container {
    display: none;
}

.chef-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 50px;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.chef-card {
    max-width: 450px;
    min-width: 450px;
    height: 200px;
    border: 1px solid var(--grey);
    margin: 10px;
}

.chef-card:hover {
    cursor: pointer;
    border: 1px solid var(--black);
}

.chef-img-div {
    height: 160px;
    width: 140px;
    padding: 3px;
}

.chef-img-div>img {
    object-fit: cover;
    max-height: 150px;
    max-width: 130px;
}

.chef-card-info-div {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    height: 40px;
}

.chef-name {
    font-size: 16px;
}

.chef-cuisine {
    background-color: var(--light-background);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 5px 10px;
    margin: 0 5px 0 0;
    font-size: 10px;
    font-weight: 500;
    opacity: 0.7;
    text-transform: lowercase;
}


/* Desktop */

@media (min-width: 700px) {
    .chef-container {
        display: flex;
        flex-direction: row;
        padding-bottom: 50px;
        flex-wrap: wrap;
        gap: 0.5rem;
        width: 80%;
    }
    .dish-container {
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 20%;
        overflow: hidden;
        height: auto;
    }
    .location-container {
        display: none;
    }
    .dish {
        border: 1px solid #e3e9ed;
        border-radius: 7px;
        margin: 5px;
        text-align: center;
        padding: 5px;
    }
}