.chef-container {
    display: flex;
    justify-content: center;
    gap: 2em;
    padding: 10px;
    margin-bottom: 100px;
    flex-direction: column;
}

.chef-card {
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 0 3px 12px -1px rgba(7, 10, 25, 0.1), 0 22px 27px -30px rgba(7, 10, 25, 0.1);
    box-shadow: 0 3px 12px -1px rgba(7, 10, 25, 0.1), 0 22px 27px -30px rgba(7, 10, 25, 0.1);
    min-width: 28rem;
    background-color: #fff;
    margin: 10px;
}

.chef-card>img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    /* border-top-left-radius: 17px; */
    /* border-top-right-radius: 17px; */
    transition: 0.5s ease-in-out;
}

.chef-card>img:hover {
    cursor: pointer;
    transform: scale(1.08);
}

.chef-name {
    font-size: 16px;
    font-weight: 400;
}

.chef-data-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.chef-ratings-container {
    display: flex;
}

.chef-cuisines-container {
    display: flex;
}

.cuisines-container {
    display: flex;
    overflow-x: auto;
    padding: 10px;
    overflow: -moz-scrollbars-none;
}

.cuisine {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #fff;
}

.cuisine:hover {
    cursor: pointer;
    border: 2px solid var(--green);
}

.cuisine-logo {
    width: 120px;
    height: 90px;
    object-fit: cover;
    border-radius: 7px;
}

.cuisine-logo:hover {
    transition: 0.5s ease-in-out;
}

.selectedCuisine {
    border: 2px solid var(--green);
}

.dish-container {
    display: none;
}

.scroll-right,
.scroll-left {
    margin: 10px;
    height: 40px;
    width: 40px;
    /* border: 2px solid rgb(238, 238, 238); */
    border-radius: 50%;
    align-items: center;
    padding: 10px;
    background-color: transparent;
}

.scroll-right:hover {
    cursor: pointer;
    /* border: 2px solid rgb(0, 0, 0); */
    background-color: var(--white);
}

.scroll-left:hover {
    cursor: pointer;
    background-color: var(--white);
    /* border: 2px solid rgb(0, 0, 0); */
}

.location-container {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #e3e9ed;
    margin: 10px;
}

.change-area {
    cursor: pointer;
    font-weight: 800;
}

.chef-card-desktop {
    display: none;
}

.chef-card-mobile {
    display: block;
}


/* Desktop */

@media (min-width: 700px) {
    .right-container {
        width: 100%;
        display: flex;
    }
    .chef-card-desktop {
        display: flex;
        height: 150px;
        width: 100%;
        margin-bottom: 5px;
    }
    .chef-card-mobile {
        display: none;
    }
    .location-container {
        display: none;
    }
    .chef-container {
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        margin-bottom: 100px;
        width: 75%;
        margin: 0 10px;
    }
    .chef-coverPhoto-desktop {
        height: 150px;
        width: 300px;
        margin-right: 10px;
    }
    .chef-coverPhoto-desktop>img {
        width: 300px;
        max-height: 100%;
        object-fit: cover;
        transition: 0.5s ease-in-out;
        border-radius: 10px;
    }
    .chef-info-desktop {
        height: 150px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .dish-container {
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 15%;
    }
    .dish {
        border: 1px solid #e3e9ed;
        border-radius: 7px;
        margin: 5px;
        text-align: center;
        padding: 5px;
    }
    .chef-name-desktop {
        font-size: 16px;
        font-weight: 800;
    }
    .chef-cuisine-desktop {
        background-color: var(--light-background);
        padding: 5px;
        margin: 0 5px 0 0;
        border-radius: 12px;
        font-size: 12px;
        font-weight: 500;
    }
}