<div class="page">
    <div class="location-div">
        <div class="location-container" *ngIf="serviceLocation != null && serviceLocation !== undefined">
            <span>{{serviceLocation.name}}, {{serviceLocation.city}}</span>
            <span class="change-area" routerLink="/">Change</span>
        </div>
    </div>

    <div class="container-div">
        <div class="cuisines-div">
            <span style="font-weight: 900;padding: 10px 20px;">Popular Cuisines</span>
            <div class="cuisines-list-div">
                <div *ngFor="let cuisine of cuisines" class="cuisine" (click)="onSelectCuisine(cuisine)" [class.selectedCuisine]="isSelectedCuisine(cuisine)">
                    <img src={{cuisine.logo}} class="cuisine-logo" height="90px" width="120px">
                    <span>{{cuisine.name}}</span>
                </div>
            </div>

        </div>

        <div class="chef-container">
            <!-- <div class="chef-card" *ngFor="let chef of filteredChefs ">
                <img src="/assets/images/chefs/{{chef._id}}/cover-photo.jpg">
            </div> -->
            <div class="chef-card" *ngFor="let chef of filteredChefs " [routerLink]="[ '/cooks', chef._id] ">
                <div class="flex-row">
                    <div class="chef-img-div">
                        <img src="/assets/images/chefs/{{chef._id}}/cover-photo.jpg" height="170px" width="150px">
                    </div>
                    <div class="flex-column gap-1" style="padding: 5px;width: 100%;">
                        <div class="flex-between" style="margin-bottom: 5px;">
                            <span [ngStyle]="{'color': chef.open ? 'green' :  'red'}">{{chef.open? "Open":"Closed"}}</span>
                            <span *ngIf="chef.preOrderOnly" class="chef-cuisine">PreOrder Only</span>
                        </div>

                        <div class="flex-row-wrap">
                            <ng-container *ngFor="let cuisine of chef.cuisines | slice:0:3">
                                <div class="chef-cuisine">{{ cuisine.name }}</div>
                            </ng-container>
                        </div>
                        <div class="flex-column" *ngIf="chef.doDelivery">
                            <div class="flex-row" style="padding: 5px;align-items: center;">
                                <img src="/assets/icons/motorbike.png" alt="" height="10px" width="10px" style="margin-right: 5px;">
                                <span style="font-size: 12px;">I do delivery upto {{chef.deliveryDistance}} miles</span>
                            </div>
                            <div class="flex-row" *ngIf="chef.freeDeliveryOver > 0" style="padding: 5px;align-items: center;">
                                <img src="/assets/icons/free-shipping.png" alt="" height="10px" width="10px" style="margin-right: 5px;">
                                <span style="font-size: 12px;">Free Delivery order over {{chef.freeDeliveryOver | currency: 'GBP'}}</span>
                            </div>
                        </div>
                        <div *ngIf="!chef.doDelivery" style="padding: 5px 0;">
                            <span>Collection Only</span>
                        </div>
                    </div>
                </div>

                <div class="chef-card-info-div">
                    <span class="chef-name">{{chef.kitchenName}}</span>
                    <div style="display: flex;align-items: center;">
                        <img [src]="star" style="width: 15px;height: 15px;">
                        <span>{{chef.rating}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-div">
        <div class="footer-container">
            <span>For any support or help you can contact us</span>
            <span>customersupport.bigtree@gmail.com</span>
            <div class="copyright-div">
                <img src="/assets/icons/copyright.png" class="copyright-logo" />
                <span>2024 Thadka</span>
            </div>
        </div>
    </div>
</div>