<div class="flex-column" style="margin: 50px 0 ;">
    <div style="width: 100%;display: flex;">
        <div class="cuisines-container">
            <div *ngFor="let cuisine of cuisines" class="cuisine" (click)="onSelectCuisine(cuisine)" [class.selectedCuisine]="isSelectedCuisine(cuisine)">
                <img src={{cuisine.logo}} class="cuisine-logo" height="90px" width="120px">
                <span>{{cuisine.name}}</span>
            </div>
        </div>
    </div>
    <div class="location-container" *ngIf="serviceLocation != null && serviceLocation !== undefined">
        <span class="location-slug">{{serviceLocation.name}}, {{serviceLocation.city}}</span>
        <span class="change-area" routerLink="/">Change</span>
    </div>
    <div style="display: flex;">
        <div class="dish-container">
            <span style="font-weight: 900;padding: 10px 0;">Popular Dishes</span>
            <div *ngFor="let dish of dishes" class="dish">
                <span>{{dish.name}}</span>
            </div>
        </div>

        <div class="chef-container">
            <div *ngFor="let chef of filteredChefs " [routerLink]="[ '/cooks', chef._id] " class="chef-card ">
                <img src="/assets/images/chefs/{{chef._id}}/cover-photo.jpg" class="chef-coverPhoto">
                <div class="chef-data-container ">
                    <div class="flex-row-space-between">
                        <span class="chef-name ">{{chef.name}}</span>
                        <div style="display: flex;align-items: center;">
                            <img [src]="star" style="width: 15px;height: 15px;">
                            <span>{{chef.rating}}</span>
                        </div>
                    </div>
                    <div class="chef-cuisines-container">
                        <!-- <span *ngFor="let cuisine of chef.cuisines" class="cuisine">
                            {{cuisine.name}}
                        </span> -->
                        <!-- If chef has big list of cuisines, then Iterate only few items from array -->
                        <ng-container *ngFor="let cuisine of chef.cuisines | slice:0:3">
                            <div class="cuisine">{{ cuisine.name }}</div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>