<div class="flex-column px-3 w-10">
    <span class="fs-3 bolder">About Us</span>
    <p class="py-2">We deliver delicious home-cooked food from your neighbourhood right to your dining table. Quality-controlled chefs, with food safety and hygiene certificates, will cook and deliver those dishes that you just can't stop thinking about.</p>
    <p class="py-2">Whether you need a delicious meal to share at a gathering of family and friends, or you want eat from a different country every night of the week, with our mobile app you can order healthy and authentic home-cooked food prepared by people who are
        passionate about cooking or even a pro chefs</p>
    <p class="py-2">We have all had moments where a smell has transported us to another time and place; ignited a memory of love or happiness. For those who want to travel in time, homeCooked UK delivers the smells that take you back.</p>
</div>