.home-wrapper {
    width: 397px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 80px;
}

.hero {
    height: 500px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-grow: 1;
    width: 100%;
}

.hero-right {
    display: none;
}

.hero-title {
    /* font-family: "Train One", system-ui; */
    font-optical-sizing: auto;
    /* font-style: normal; */
    font-size: 20px;
    /* letter-spacing: -2px; */
    line-height: 68px;
    color: black;
    padding: 20px;
    font-weight: 900;
    word-wrap: break-word;
}

.top-cuisines-data {
    border: 1px solid #333;
    line-height: 45px;
    text-align: center;
    height: 45px;
    padding: 0 25px;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.top-cuisines-data:hover {
    cursor: pointer;
    background-color: #0be1d3;
}

.flip-image img {
    transform: scaleX(-1);
}

.slider-wrapper {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    align-items: center;
    text-align: center;
    background-color: aliceblue;
    margin: 10px 0;
    border-radius: 20px;
}

.slider div {
    height: 50px;
    margin-bottom: 50px;
    padding: 2px 15px;
    text-align: center;
    box-sizing: border-box;
    font-weight: 900;
    font-size: 30px;
}

.slider-text1 {
    animation: slide 5s linear infinite;
}

.slider-text2 {}

.slider-text3 {}

@keyframes slide {
    0% {
        margin-top: -300px;
    }
    5% {
        margin-top: -200px;
    }
    33% {
        margin-top: -200px;
    }
    38% {
        margin-top: -100px;
    }
    66% {
        margin-top: -100px;
    }
    71% {
        margin-top: 0;
    }
    100% {
        margin-top: 0;
    }
}

.scroller {
    height: 3.2em;
    line-height: 4.2em;
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.scroller>span {
    position: absolute;
    top: 0;
    animation: slide 5s infinite;
    font-weight: bold;
    font-size: 30px;
}

.slider {
    overflow-y: hidden;
    max-height: 500px;
    /* approximate max height */
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}

.slider.closed {
    max-height: 0;
}


/* @keyframes slide {
    0% {
        top: 0;
    }
    25% {
        top: -3.5em;
    }
    50% {
        top: -5.0em;
    }
    75% {
        top: -10.0em;
    }
} */

@media (min-width: 700px) {
    .home-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 80px;
    }
    .hero-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        flex-grow: 1;
        width: 30%;
    }
    .hero-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        flex-grow: 1;
        width: 70%;
    }
    .hero-title {
        /* font-family: "Cinzel", serif; */
        font-optical-sizing: auto;
        /* font-style: normal; */
        font-size: 30px;
        /* letter-spacing: -2px; */
        line-height: 68px;
        color: #fff;
        padding: 0 20px;
        font-weight: 500;
        word-wrap: break-word;
    }
    .hero-img-div {
        padding: 20px;
        max-height: 100%;
        max-height: 100%;
        position: relative;
        right: 0;
    }
    .hero-img {
        background-repeat: no-repeat;
        object-fit: cover;
        height: 100%;
        width: 100%;
        float: right;
        filter: brightness(100%);
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/images/food.jpeg');
        background-position: center top;
    }
}