.hero {
    height: 500px;
    margin: 80px 20px 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-grow: 1;
}

.hero-right {
    display: none;
}

.hero-title {
    /* font-family: "Train One", system-ui; */
    font-optical-sizing: auto;
    /* font-style: normal; */
    font-size: 20px;
    /* letter-spacing: -2px; */
    line-height: 68px;
    color: black;
    padding: 20px;
    font-weight: 900;
    word-wrap: break-word;
}

.top-cuisines-data {
    border: 1px solid #333;
    line-height: 45px;
    text-align: center;
    height: 45px;
    padding: 0 25px;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.top-cuisines-data:hover {
    cursor: pointer;
    background-color: #0be1d3;
}

.top-locations-data {
    border: 1px solid #333;
    line-height: 45px;
    text-align: center;
    height: 45px;
    padding: 0 25px;
    font-weight: 500;
    border-radius: 7px;
    box-shadow: 0 0.25em 0 rgb(195, 198, 209);
    /* box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px; */
}

.top-locations-data:hover {
    cursor: pointer;
    color: #fff;
    background-color: var(--blue);
}

.flip-image img {
    transform: scaleX(-1);
}

.scroller {
    height: 3.2em;
    line-height: 4.2em;
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.scroller>span {
    position: absolute;
    top: 0;
    animation: slide 5s infinite;
    font-weight: bold;
    font-size: 30px;
}

.animated-text p {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.text1 {
    animation-name: example;
    animation-delay: 0s;
}

.text2 {
    animation-name: example;
    animation-delay: 1s;
}

.text3 {
    animation-name: example;
    animation-delay: 2s;
}

@keyframes slide {
    0% {
        top: 0;
    }
    25% {
        top: -3.5em;
    }
    50% {
        top: -5.0em;
    }
    75% {
        top: -10.0em;
    }
}

@media (min-width: 700px) {
    .hero-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        flex-grow: 1;
    }
    .hero-title {
        /* font-family: "Cinzel", serif; */
        font-optical-sizing: auto;
        /* font-style: normal; */
        font-size: 30px;
        /* letter-spacing: -2px; */
        line-height: 68px;
        color: #fff;
        padding: 0 20px;
        font-weight: 500;
        word-wrap: break-word;
    }
    .hero-img-div {
        padding: 20px;
        max-height: 100%;
        max-height: 100%;
        position: relative;
        right: 0;
    }
    .hero-img {
        background-repeat: no-repeat;
        object-fit: cover;
        height: 100%;
        width: 100%;
        float: right;
    }
}