<div class="home-wrapper">

    <div class="hero">
        <div class="hero-left">
            <span class="hero-title">Take the hassle out of Home Cooking</span>
            <div class="scroller">
                <span>
                    Home food<br />
                    Delicious<br />
                    Hygiene<br />
                    Healthy
                </span>
            </div>
            <div class="hp-search-container">
                <img src="/assets/icons/target.png" height="25px" width="25px" style="margin-right: 20px; opacity: 0.5;">
                <input type="text" placeholder="Enter your location" class="hp-search-box" [(ngModel)]="serviceLocationSearchText" (keyup.enter)="onEnter()">
                <span *ngIf="showServiceLocations" (click)="closeServiceLocations()" style="font-weight: 900;
                color: var(--blue);
                cursor: pointer;
                padding: 0 10px;">Clear</span>
                <button class="btn-grn" (click)="onEnter()">Go</button>
            </div>
            <div *ngIf="showServiceLocations" class="hp-locations-container">
                <div class="hp-locations">
                    <span class="hp-location" *ngFor="let sl of serviceLocations" (click)="onSelectServiceLocation(sl)">{{ sl.name }},
                        {{sl.city}}</span>
                </div>
            </div>
        </div>
        <div class="hero-right">
            <div class="hero-img-div">
                <img src="/assets/images/photo-3-removebg-preview.png" class="hero-img">
            </div>
        </div>
    </div>

    <div class="flex-column justify-content-center align-items-center my-100">
        <strong style="font-size: 22px;font-weight: 800;">Top Locations</strong>
        <span style="font-size: 15px;text-align: center;">Choose from popular locations</span>
        <div class="flex-column justify-content-center align-items-center">
            <strong style="font-size: 15px;margin: 10px 0;">Glasgow</strong>
            <div style="display: flex;justify-content: center;align-items: center;flex-flow: row wrap;gap: 0.5rem;" *ngIf="popularLocations !== null && popularLocations !== undefined">
                <span class="btn-blu px-3 py-2" *ngFor="let pl of popularLocations" [routerLink]="['cooks']" [queryParams]="{location: pl.slug}">{{pl.name}}</span>
            </div>
        </div>
    </div>

    <div class="flex-column justify-content-center align-items-center my-100">
        <strong style="font-size: 22px;font-weight: 800;">Top Cuisines</strong>
        <span style="font-size: 15px;text-align: center;">Browse popular cuisines from home chefs</span>
        <div style=" display: flex; flex-direction: column;padding: 20px;width: 100%;margin-top: 10px;">
            <div style="display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: row wrap;
            gap: 0.5rem;" *ngIf="cuisines !== null && cuisines !== undefined">
                <span class="btn-teal px-3 py-2" *ngFor="let cuisine of cuisines" [routerLink]="['cooks']" [queryParams]="{cuisine: cuisine.slug}">{{cuisine.name}}</span>
            </div>
        </div>
    </div>

    <div class="flex-column justify-content-center align-items-center my-100 mx-3">
        <strong style="font-size: 22px;font-weight: 800;">How It Works!</strong>
        <div class="flex-row flex-wrap justify-content-center" style="margin: 10px 0;">
            <div class="flex-column justify-content-center align-items-center br-6 p-3 bg-l-grey mobile-w m-3">
                <div class="flex-row justify-content-center  align-items-center">
                    <span style="font-size: 40px;opacity: 0.5;">1</span>
                    <img src="/assets/icons/chef.png" height="100px" width="100px" style="object-fit: contain;">
                </div>
                <strong style="text-align: center;font-size: 30px;padding: 10px 0;color: #3C4043;">Find</strong>
                <small>Find a home chef nearest to your home</small>
            </div>
            <div class="flex-column justify-content-center align-items-center br-6 p-3 bg-l-grey mobile-w m-3">
                <div class="flex-row justify-content-center align-items-center">
                    <span style="font-size: 40px;opacity: 0.5;">2</span>
                    <img src="/assets/icons/order.png" height="100px" width="100px" style="object-fit: contain;">
                </div>
                <strong style="text-align: center;font-size: 30px;padding: 10px 0;color: #3C4043;">Order</strong>
                <small>Order in for yourself or for the group,
                    with no restrictions on order value</small>
            </div>
            <div class="flex-column justify-content-center align-items-center br-6 p-3 bg-l-grey mobile-w m-3">
                <div class="flex-row justify-content-center  align-items-center">
                    <span style="font-size: 40px;opacity: 0.5;">3</span>
                    <img src="/assets/icons/eating.png" height="100px" width="100px" style="object-fit: contain;">
                </div>
                <strong style="text-align: center;font-size: 30px;padding: 10px 0;color: #3C4043;">Eat</strong>
                <small>Enjoy the home cooked food at your home</small>
            </div>
        </div>

    </div>

    <div class="flex-column justify-content-center align-items-center" style="margin: 10px 0;">
        <span style="font-weight: 900;font-size: 25px;padding: 10px 0;">Join
            us</span>
        <div style="margin-bottom: 10px;">Be a part of <span class="logo-text">Doodle</span></div>
        <div style="display: flex;flex-direction: row;gap: 1rem;flex-wrap: wrap;">
            <div class="flex-row" style="background-color: var(--light-blue);margin: 10px;">
                <div style=" height: 150px;width: 180px;margin-right: 10px;">
                    <img src="/assets/images/become-a-partner.webp" style="width: 180px;max-height: 100%;object-fit: cover;transition: 0.5s ease-in-out;">
                </div>
                <div class="flex-column align-items-center justify-content-center" style="padding: 10px;">
                    <span style="font-weight: 900;font-size: 20px;padding: 10px 0;">Become
                        a family chef</span>
                    <p style="margin: 10px 0; word-wrap: break-word;padding: 0 20px;">Reach more customers and achieve growth with us</p>
                    <button style="border: none;padding: 8px; background-color: var(--orange);color: #fff;">Find
                        our more</button>
                </div>
            </div>
            <div class="flex-row" style="background-color: var(--light-blue);margin: 10px;">
                <div style=" height: 150px;width: 180px;margin-right: 10px;">
                    <img src="/assets/images/career-with-us.webp" style="  width: 180px;max-height: 100%;object-fit: cover;transition: 0.5s ease-in-out;">
                </div>
                <div class="flex-column align-items-center justify-content-center" style="padding: 10px;">
                    <span style="font-weight: 900;font-size: 20px;padding: 10px 0;">Build your career</span>
                    <p style="margin: 10px 0; word-wrap: break-word;padding: 0 20px;">Join the dynamic team that makes it all happen</p>
                    <button style="border: none;padding: 8px; background-color: var(--orange);color: #fff;">Find our more</button>
                </div>
            </div>
        </div>
    </div>
    <app-footer />
</div>