@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
.hero {
    height: 500px;
    background-color: var(--light-grey);
    margin: 80px 20px 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-grow: 1;
}

.hero-right {
    display: none;
}

.hero-title {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    /* font-style: normal; */
    font-size: 25px;
    color: #3C4043;
    font-weight: 900;
    margin: 20px 0;
}

.top-cuisines-data {
    border: 1px solid #0be1d3;
    line-height: 45px;
    text-align: center;
    height: 45px;
    padding: 0 25px;
    font-weight: 500;
}

.top-cuisines-data:hover {
    cursor: pointer;
    background-color: #0be1d3;
}

.top-locations-data {
    border: 1px solid var(--blue);
    line-height: 45px;
    text-align: center;
    height: 45px;
    padding: 0 25px;
    font-weight: 500;
    border-radius: 7px;
    /* box-shadow: 0.5rem 0.5rem black, -0.5rem -0.5rem #ccc; */
}

.top-locations-data:hover {
    cursor: pointer;
    color: #fff;
    background-color: var(--blue);
}

.flip-image img {
    transform: scaleX(-1);
}

.scroller {
    height: 3.2em;
    line-height: 4.2em;
    position: relative;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.scroller>span {
    position: absolute;
    top: 0;
    animation: slide 5s infinite;
    font-weight: bold;
    font-size: 30px;
}

@keyframes slide {
    0% {
        top: 0;
    }
    25% {
        top: -2.5em;
    }
    50% {
        top: -5.0em;
    }
    75% {
        top: -9.6em;
    }
}

@media (min-width: 700px) {
    .hero-right {
        display: inline-block;
        flex-grow: 1;
    }
    .hero-title {
        font-family: "Cinzel", serif;
        font-optical-sizing: auto;
        /* font-style: normal; */
        font-size: 40px;
        letter-spacing: -2px;
        line-height: 68px;
        color: #3C4043;
        padding: 0 20px;
        font-weight: 900;
    }
    .hero-img-div {
        padding: 20px;
        height: 100%;
        width: 100%;
        position: relative;
        right: 0;
    }
    .hero-img {
        background-repeat: no-repeat;
        object-fit: contain;
        height: 100%;
        width: 100%;
        float: right;
    }
}