<div class="container">

    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3 mt-3">
        <div class="col hp br-12">
            <div class="card br-12 ">
                <img src="/assets/icons/eat.png" class="card-img-top br-top-14" alt="...">
                <!-- <img src="/assets/icons/localfood.png" class="card-img-top br-top-14" alt="..."> -->
                <div class="card-body bg-light  br-bottom-14">
                    <!-- <h5 class="card-title">Find local chef</h5> -->
                    <div class="flex-row jcsb w-100">
                        <input type="text" placeholder="e.g Glasgow" class="hp-search-box" [(ngModel)]="serviceLocationSearchText" (keyup.enter)="onEnter(addressList)">
                        <button type="button" class="btn btn-sm btn-dark br-25">Go</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col hp br-12" [routerLink]="['/p/groups/fashion']">
            <div class="card br-12 ">
                <img src="/assets/icons/fashion.png" class="card-img-top br-top-14" alt="...">
                <div class="card-body bg-light  br-bottom-14">
                    <!-- <h5 class="card-title">Find local chef</h5> -->
                    <div class="flex-row jcsb w-100 moving-arrow">
                        <span></span>
                        <fa-icon [icon]="faRight" [routerLink]="['/p/groups/fashion']"></fa-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="col hp br-12">
            <div class="card br-12 ">
                <img src="/assets/icons/decor.png" class="card-img-top br-top-14" alt="...">
                <div class="card-body bg-light  br-bottom-14">
                    <!-- <h5 class="card-title">Find local chef</h5> -->
                    <div class="flex-row jcsb w-100  moving-arrow">
                        <span></span>
                        <fa-icon [icon]="faRight" [routerLink]="['/p/groups/decor']"></fa-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="col hp br-12">
            <div class="card br-12 ">
                <img src="/assets/icons/property.png" class="card-img-top br-top-14" alt="...">
                <div class="card-body bg-light  br-bottom-14">
                    <!-- <h5 class="card-title">Find local chef</h5> -->
                    <div class="flex-row jcsb w-100  moving-arrow">
                        <span></span>
                        <fa-icon [icon]="faRight" [routerLink]="['/p/groups/property']"></fa-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="col hp br-12">
            <div class="card br-12 ">
                <img src="/assets/icons/cars.png" class="card-img-top br-top-14" alt="...">
                <div class="card-body bg-light  br-bottom-14">
                    <!-- <h5 class="card-title">Find local chef</h5> -->
                    <div class="flex-row jcsb w-100  moving-arrow">
                        <span></span>
                        <fa-icon [icon]="faRight" [routerLink]="['/p/groups/cars']"></fa-icon>
                    </div>
                </div>
            </div>
        </div>
        <div class="col hp br-12">
            <div class="card br-12 ">
                <img src="/assets/icons/services.png" class="card-img-top br-top-14" alt="...">
                <div class="card-body bg-light  br-bottom-14">
                    <!-- <h5 class="card-title">Find local chef</h5> -->
                    <div class="flex-row jcsb w-100  moving-arrow">
                        <span></span>
                        <fa-icon [icon]="faRight" [routerLink]="['/p/groups/services']"></fa-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- <div class="lg flex-row jcc border-bottom">
        <div class="flex-column border-right px-4 py-2">
            <span class="title">Services</span>
            <span class="py-2">Massage</span>
            <span class="py-2">Beauty</span>
            <span class="py-2">Coaching</span>
        </div>
        <div class="flex-column border-right px-4 py-2">
            <span class="title">Goods</span>
            <span class="py-2">Clothing</span>
            <span class="py-2">Jewellery</span>
            <span class="py-2">Home Decor</span>
        </div>
        <div class="flex-column border-right px-4 py-2">
            <span class="title">Properties</span>
            <span class="py-2">Renting</span>
            <span class="py-2">Sharing</span>
        </div>
    </div> -->
    <!-- <div class="flex-row jcsb aic py-4">
        <div class="flex-column border-right">
            <span class="font-abril-fatface hero-phrase">Discover a Homechef</span>
            <span class="font-abril-fatface hero-phrase">you'll love to eat</span>
            <div class="content">
                <div class="slider">
                    <div class="slider-text1">Nostalgic</div>
                    <div class="slider-text2">A taste of home</div>
                    <div class="slider-text3">Made with love</div>
                </div>
            </div>
            <div class="hp-search-container">
                <div class="flex-row" style="width: 80%;">
                    <input type="text" placeholder="Enter your location" class="hp-search-box" [(ngModel)]="serviceLocationSearchText" (keyup.enter)="onEnter()">
                </div>
                <div class="flex-row align-items-center">
                    <span *ngIf="showServiceLocations" (click)="closeServiceLocations()" style="color: var(--d-orange);cursor: pointer;padding: 0 10px;">Clear</span>
                    <button class="btn-secondary bolder float-right" (click)="onEnter()">Find</button>
                </div>

            </div>
            <div *ngIf="showServiceLocations" class="hp-locations-container">
                <div class="hp-locations">
                    <span class="hp-location" *ngFor="let sl of serviceLocations" (click)="onSelectServiceLocation(sl)">{{ sl.name }},
                        {{sl.city}}</span>
                </div>
            </div>
        </div>
        <div class="hero-right">
            <div class="hero-img-div">
                <img src="/assets/images/wall-art-indian.jpg" class="hero-img">
            </div>
        </div>
    </div> -->
    <div class="flex-column jcc aic">
        <span class="lg font-abril-fatface hero-phrase">Discover a Homechef</span>
        <span class="lg font-abril-fatface hero-phrase">you'll love to eat</span>
        <span class="sm font-abril-fatface hero-phrase jcc">Home Foods</span>
        <div class="content">
            <div class="slider">
                <div class="slider-text1">Nostalgic</div>
                <div class="slider-text2">A taste of home</div>
                <div class="slider-text3">Made with love</div>
            </div>
        </div>
        <div class="hp-search-container border">
            <div class="flex-row" style="width: 80%;">
                <input type="text" placeholder="Enter your location" class="hp-search-box" [(ngModel)]="serviceLocationSearchText" (keyup.enter)="onEnter(locationResults)">
            </div>
            <!-- <div class="flex-row align-items-center">
                <span *ngIf="showServiceLocations" (click)="closeServiceLocations()" style="color: var(--d-orange);cursor: pointer;padding: 0 10px;">Clear</span>
                <button type="button" class="btn btn-warning px-5 bold br-12 btn-sm float-right" (click)="onEnter(addressList)">Find</button>
            </div> -->

        </div>
    </div>


    <div class="row row-cols-1 row-cols-md-2 g-4 my-3">
        <div class="col">
            <div class="card h-100">
                <img src="https://ik.imagekit.io/kikysfekf/become-partner.jpeg?updatedAt=1710780429618" class="card-img-top" alt="Become a partner" />
                <div class="card-body">
                    <h5 class="card-title">Become a partner</h5>
                    <p class="card-text">Reach more customers and achieve growth with us</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://ik.imagekit.io/kikysfekf/join-us.jpeg?updatedAt=1710780429642" class="card-img-top" alt="Build your career" />
                <div class="card-body">
                    <h5 class="card-title">Build your career</h5>
                    <p class="card-text">Join the dynamic team that makes it all happen
                    </p>
                </div>
            </div>
        </div>
    </div>

    <app-footer />
</div>

<ng-template #addressList let-modal class="modal-dialog-centered">

    <div class="modal-header" hidden>
    </div>
    <div class="modal-body">
        <div class="flex-column border">
            <div class="flex-row jcsb w-100 border-bottom p-3 aic">
                <input type="text" placeholder="eg Glasgow" class="hp-search-box" [(ngModel)]="serviceLocationSearchText" (keyup.enter)="onEnter(addressList)">
                <span *ngIf="showServiceLocations" (click)="closeServiceLocations()" style="color: var(--danger);cursor: pointer;padding: 0 10px;">Clear</span>
                <button type="button" class="btn btn-sm btn-dark br-25">Go</button>
            </div>
            <div class="flex-column" style="max-height: 500px;overflow-y: auto;">
                <span class="hp-location" *ngFor="let sl of serviceLocations" (click)="onSelectServiceLocation(sl)">{{ sl.name }},
                    {{sl.city}}</span>
            </div>

        </div>
    </div>
    <div class="modal-footer" hidden>
    </div>
</ng-template>

<ng-template #locationResults let-modal>
    <div class="modal" id="exampleModalCentered" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenteredLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header" hidden>
                    <h5 class="modal-title" id="exampleModalCenteredLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body">
                    <div class="flex-column" style="max-height: 500px;overflow-y: auto;">
                        <span class="hp-location" *ngFor="let sl of serviceLocations" (click)="onSelectServiceLocation(sl)">{{ sl.name }},
                        {{sl.city}}</span>
                    </div>
                </div>
                <div class="modal-footer" hidden>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>