<div class="page">

    <div class="full-screen mb-2 px-3">
        <div class="flex-row-scrollable py-3">
            <div *ngFor="let cuisine of cuisines" class="cuisine" (click)="onSelectCuisine(cuisine)" [class.selectedCuisine]="isSelectedCuisine(cuisine)">
                <img src={{cuisine.logo}} class="cuisine-logo" height="90px" width="120px">
                <span>{{cuisine.name}}</span>
            </div>
        </div>
    </div>

    <div class="flex-column w-100 mb-2 px-3 sm">
        <h4 class="big-text">Whats on your mind ?</h4>
        <div class="flex-row-scrollable py-3">
            <div *ngFor="let d of dishes" class="border d-flex jcc aic px-3 mr-1" (click)="onSelectDish(d)" [class.clicked]="isDishSelected(d)">
                <span class="big-text">{{d.name}}</span>
            </div>
        </div>
    </div>

    <div class="flex-column w-100 mb-2 px-3 lg">
        <h4 class="big-text">Whats on your mind ?</h4>
        <div class="flex-row-scrollable">
            <div *ngFor="let d of dishes" class="selectable mr-1" (click)="onSelectDish(d)" [class.selected]="isDishSelected(d)">
                <fa-icon [icon]="faCheck"></fa-icon>
                <span class="pl-1">{{d.name}}</span>
            </div>
        </div>
    </div>

    <div class="full-screen mb-2 px-3">
        <div class="flex-row-space-between mb-1 md bg-light p-2 mx-1" *ngIf="serviceLocation != null && serviceLocation !== undefined">
            <span>{{serviceLocation.name}}, {{serviceLocation.city}}</span>
            <span class="change-area" routerLink="/">Change</span>
        </div>
    </div>

    <!-- <span class="f-size-xl bold lg">{{serviceLocation.name}}</span> -->

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
        <div class="col mb-4 br-12" *ngFor="let chef of filteredChefs " [routerLink]="[ '/f/chef', chef._id] ">
            <div class="card br-12 chef-card">
                <img src="{{chef.image}}" class="card-img-top br-top-14" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{chef.kitchenName}}</h5>
                    <p class="card-text"> {{chef.description}}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
        <article *ngFor="let chef of filteredChefs " [routerLink]="[ '/cooks', chef._id] ">
            <div>
                <figure>
                    <img src="/assets/images/chefs/{{chef._id}}/cover-photo.jpg">
                </figure>
                <div class="article-body">
                    <h2 class="chef-name font-abril-fatface ">{{chef.kitchenName}}</h2>
                    <p>
                        {{chef.description}}
                    </p>
                    <a class="clickable">
                        Order now <span class="sr-only ">about this is
                            some title</span>
                        <svg xmlns="http://www.w3.org/2000/svg "
                            class="icon " viewBox="0 0 20 20 "
                            fill="currentColor ">
                            <path fill-rule="evenodd "
                                d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z "
                                clip-rule="evenodd " />
                        </svg>
                    </a>
                </div>
            </div>
        </article>
    </div> -->

    <!-- <div class="flex-row-wrap justify-content-center">
        <article *ngFor="let chef of filteredChefs " [routerLink]="[ '/cooks', chef._id] ">
            <div>
                <figure>
                    <img src="/assets/images/chefs/{{chef._id}}/cover-photo.jpg">
                </figure>
                <div class="article-body">
                    <h2 class="chef-name font-abril-fatface ">{{chef.kitchenName}}</h2>
                    <p>
                        {{chef.description}}
                    </p>
                    <a class="clickable">
                        Order now <span class="sr-only ">about this is
                            some title</span>
                        <svg xmlns="http://www.w3.org/2000/svg "
                            class="icon " viewBox="0 0 20 20 "
                            fill="currentColor ">
                            <path fill-rule="evenodd "
                                d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z "
                                clip-rule="evenodd " />
                        </svg>
                    </a>
                </div>
            </div>
        </article>
         <div class="chef-card " *ngFor="let chef of filteredChefs ">
            <img src="/assets/images/chefs/{{chef._id}}/cover-photo.jpg ">
        </div> -->
    <!-- <article *ngFor="let chef of filteredChefs " [routerLink]="[ '/cooks', chef._id] ">
            <div>
                <figure>
                    <img src="/assets/images/chefs/{{chef._id}}/cover-photo.jpg ">
                </figure>
                <div class="article-body ">
                    <h2>{{chef.kitchenName}}</h2>
                    <p>
                        {{chef.description}}
                    </p>
                    <a href="# " class="read-more ">
                            Order now <span class="sr-only ">about this is
                                some title</span>
                            <svg xmlns="http://www.w3.org/2000/svg "
                                class="icon " viewBox="0 0 20 20 "
                                fill="currentColor ">
                                <path fill-rule="evenodd "
                                    d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z "
                                    clip-rule="evenodd " />
                            </svg>
                        </a>
                </div>
            </div>
        </article> 
    </div> -->

    <div class="footer-div ">
        <div class="footer-container f-size-xs ">
            <span>For any support or help you can contact us</span>
            <span>contact.desitimes@gmail.com</span>
            <div class="copyright-div ">
                <fa-icon [icon]="faCopyright "></fa-icon>
                <span>2024 <span class="logo-text">desify</span></span>
            </div>
        </div>
    </div>
</div>