/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --green: #00b852;
    --mid-grey: #555;
    --blue: #06e;
    --black: rgb(0, 0, 0);
    --grey: #d9d9d9;
    --light-color: #f8f8f8;
    --gd_p: rgb(253, 233, 219);
    --gd_g: rgb(216, 239, 239);
    --section-background: rgb(238, 238, 238);
    --aquamarine: aquamarine;
    --orange: coral;
    --white: #fff;
    --warning: #ffc107;
    --yellow: #fd0;
    --pink: #ff8cb2;
    --border: #bbbaba;
    --light-border: #e2e2e2;
    --light-background: #fafafa;
    --mild-white: rgb(233, 230, 230);
    --form-control-color: rebeccapurple;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    --light-green: #eafbf2;
    --light-blue: #EBF5FF;
    --light-grey: #f9f9f9;
    --happygreen: #dcfd52;
    --happygreen-light: #e8fc9c;
    --happygreen-dark: #c8e820;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    color: var(--black);
    /* font-size: clamp(.5rem, 0.5rem + 10vw, .8rem); */
    font-size: 0.9rem;
    letter-spacing: .1px;
    box-sizing: content-box;
}

html {
    font-size: 70%;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: smooth;
    text-size-adjust: 100%;
    background-color: #fff;
    /* font-family: "Julius Sans One", sans-serif; */
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
}

::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}


/* Optional: show position indicator in red */

::-webkit-scrollbar-thumb {
    background: transparent;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    overflow: -moz-scrollbars-none;
    /* Firefox */
}

.container::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

@supports(scrollbar-width: none) {
    .no-support {
        display: none;
    }
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

body {
    margin: 0;
    padding: 0;
    font-size: 12px;
    background-color: #fff;
    /* font-family: "Julius Sans One", sans-serif; */
    font-family: "Poppins", sans-serif;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
}

::ng-deep .modal-content {
    border-radius: 25px;
    border: none;
    z-index: 9999999;
}

::ng-deep .modal-body {
    overflow-y: auto;
}

select {
    width: 100%;
}

.scroll-right,
.scroll-left {
    margin: 10px;
    height: 40px;
    width: 40px;
    /* border: 2px solid rgb(238, 238, 238); */
    border-radius: 50%;
    align-items: center;
    padding: 10px;
    background-color: transparent;
}

.scroll-right:hover {
    cursor: pointer;
    /* border: 2px solid rgb(0, 0, 0); */
    background-color: var(--white);
}

.scroll-left:hover {
    cursor: pointer;
    background-color: var(--white);
    /* border: 2px solid rgb(0, 0, 0); */
}

.background-img-div {
    display: flex;
    align-content: center;
    justify-content: center;
    align-self: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
    transition: all .25s ease-in;
    transition-property: background;
}

.ng-form-control {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
}

.section {
    margin: 10px;
}

.section-w-br {
    margin: 5px;
    padding: 5px;
    border: 1px solid var(--border);
    border-radius: 6px;
}

.section-header {
    font-size: large;
    padding: 10px 0;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.flex-row-space-between {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.flex-row-justify-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.gap-1 {
    gap: 10px;
}

.flex-grow {
    flex-grow: 1;
}

.grid {
    display: grid;
    gap: .75rem;
}

.btn-block {
    background-color: var(--blue);
    width: 100%;
    padding: 10px 20px;
    color: #fff;
    border: none;
}

.btn-block:hover {
    cursor: pointer;
    background-color: #2fad35;
}

.btn-wrapper {
    background-color: var(--section-background);
}

.btn-wrapper>:nth-child(1) {
    display: block;
    width: auto;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    position: relative;
    transition: all .35s;
    padding: 0 20px;
}

.btn-wrapper>:nth-child(1) span {
    position: relative;
    z-index: 2;
}

.btn-wrapper>:nth-child(1):after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #fff;
    background-color: var(--black);
    transition: all .35s;
}

.btn-wrapper>:nth-child(1):hover {
    color: #fff;
    cursor: pointer;
}

.btn-wrapper>:nth-child(1):hover:after {
    width: 100%;
}

.n-button {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    text-align: center;
    padding: 10px 20px;
    border: none;
}

.n-button:hover {
    cursor: pointer;
    background-color: var(--blue);
    color: #fff;
}

.fb-input {
    width: 100%;
    outline: none;
    padding: 6px;
    border: 1px solid var(--grey);
}

.my-checkbox {
    position: relative;
    width: 1rem;
    height: 1rem;
    margin-right: 0.75rem;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    padding: 10px;
}

.my-checkbox:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    border: 1px solid #e9e7e7;
    transition: all 0.3s ease-in-out;
}

.my-checkbox:checked:before {
    height: 50%;
    transform: rotate(-45deg);
    border-top-style: none;
    border-right-style: none;
}

.my-checkbox--teal:checked:before {
    border-color: #009688;
}

.text-center {
    text-align: center;
}

.qty-icon,
.plus-icon,
.minus-icon {
    background-color: #81ab32;
    color: var(--white);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 7px;
    border: #27ae60;
    font-weight: 900;
}

.minus-icon {
    background-color: #c54545;
    border: #ab0000
}

.plus-icon:hover {
    cursor: pointer;
    background-color: var(--green);
    color: var(--white);
}

.minus-icon:hover {
    cursor: pointer;
    background-color: red;
    color: var(--white);
}

.btn-modal-close {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: none;
}

.btn-modal-close:hover {
    cursor: pointer;
    background-color: #81ab32;
}

.big-black-btn {
    padding: 15px;
    display: block;
    background-color: black;
    border: none;
    color: #fff;
    font-weight: 600;
    min-width: 450px;
}

.big-black-btn:hover {
    opacity: 0.8;
}

.link-button {
    color: #222;
    font-weight: 700;
}

.link-button:hover {
    cursor: pointer;
    color: #1967d2;
}

.clickable {
    font-weight: 500;
    text-decoration: underline;
}

.clickable:hover {
    cursor: pointer;
    color: #5d8ed5;
}

.clickableDiv {
    border: 1px solid #e2e2e2;
    padding: 10px;
    text-align: center;
    border-radius: 6px;
    background-color: var(--focus-color);
}

.clickableDiv:hover {
    cursor: pointer;
    background-color: #27ae60;
    color: #fff;
}

.unClickableDiv {
    border: 1px solid #e2e2e2;
    padding: 10px;
    text-align: center;
    border-radius: 6px;
    background-color: var(--focus-color);
}

.unClickableDiv:hover {
    background-color: #e2e2e2;
}


/* Input */

.input-div {
    width: 100%;
    border: 1px solid #ececec;
    padding: 0;
    display: block;
    position: relative;
    transform: translateZ(0);
    margin: 2px 0;
}

.input-div:hover {
    background-color: #ececec;
}

._381fS {
    background-color: transparent;
    line-height: normal;
    outline: none;
    height: 65px;
    width: 100%;
    font-size: 15px;
    margin: 0;
    padding: 0 20px;
    padding-top: 12px;
    box-shadow: none;
    box-sizing: border-box;
    border-radius: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    border: none;
}

._26LFr {
    -ms-transform: translateY(70%);
    transform: translateY(70%);
}

._25qBi {
    position: relative;
    clear: both;
}

._2-hTu {
    clear: both;
    margin-top: 20px;
}

._2tL9P {
    font-size: 12px;
    font-weight: 500;
    color: #7e808c;
    -ms-transform: translateY(-70%);
    transform: translateY(-70%);
}

._1Cvlf {
    position: absolute;
    left: 0;
    bottom: 24px;
    padding-left: 20px;
    line-height: 20px;
    font-size: 15px;
    cursor: text;
    transition: .2s ease;
    width: 100%;
    color: #93959f;
    will-change: transform, color, font-size;
    pointer-events: none;
    font-weight: 400;
}

._2EeI1 {
    position: absolute;
    right: 20px;
    bottom: 26px;
    font-size: 14px;
    font-weight: 500;
    color: #5d8ed5;
    transform: translateZ(0);
    cursor: pointer;
    will-change: transform;
    transition: .2s ease;
}

._2REYC {
    width: 100%;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    border: none;
    line-height: 40px;
    font-size: 14px;
    font-weight: 600;
    height: 40px;
    padding: 0 2rem;
    letter-spacing: 0;
    color: #fff;
    background-color: #465ab2;
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 12%);
    border-radius: 6px;
}


/* Margins */

.mx-1 {
    margin-right: 10px;
    margin-left: 10px;
}

.my-1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mr-1 {
    margin-right: 10px;
}

.mr-2 {
    margin-right: 20px;
}

.mr-3 {
    margin-right: 30px;
}

.ml-1 {
    margin-left: 10px;
}

.ml-2 {
    margin-left: 20px;
}

.ml-3 {
    margin-left: 30px;
}

.mt-1 {
    margin-top: 10px;
}

.mt-2 {
    margin-top: 20px;
}

.mt-3 {
    margin-top: 30px;
}

.mb-1 {
    margin-bottom: 10px;
}

.mb-2 {
    margin-bottom: 20px;
}

.mb-3 {
    margin-bottom: 30px;
}