/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
:root {
    --green: #08DE9E;
    /* --green: coral; */
    --black: rgb(0, 0, 0);
    --light-color: #e1e1e1;
    --section-background: rgb(238, 238, 238);
    --aquamarine: aquamarine;
    --orange: coral;
    --white: #fff;
    --warning: #ffc107;
    /* --border: #e3e9ed; */
    --border: #bbbaba;
    --light-border: #e2e2e2;
    --v-border: chartreuse;
    --light-background: #fafafa;
    --mild-white: rgb(233, 230, 230);
    --form-control-color: rebeccapurple;
    --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    color: var(--black);
    /* font-size: clamp(.5rem, 0.5rem + 10vw, .8rem); */
    font-size: 0.9rem;
    letter-spacing: .1px;
    font-weight: 300;
    overflow-y: scroll;
    box-sizing: content-box;
    font-family: 'Handlee', cursive;
}

html {
    font-size: 70%;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-padding-top: 5.5.rem;
    scroll-behavior: smooth;
    text-size-adjust: 100%;
    font-family: 'Handlee', cursive;
}

.special-title {}

.modal {
    overflow-y: auto;
}

.modal-open {
    overflow: auto;
    padding-right: 0px !important;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

body {
    margin: 0;
    padding: 0;
    /* background: rgb(248, 247, 247); */
}

select {
    width: 100%;
}

.ng-form-control {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
}

.section {
    margin: 10px;
}

.section-w-br {
    margin: 5px;
    padding: 5px;
    border: 1px solid var(--border);
    border-radius: 6px;
}

.section-header {
    font-size: large;
    padding: 10px 0;
}

.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-row-justify-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.grid {
    display: grid;
    gap: .75rem;
}

.btn-block {
    background-color: #46bb4c;
    border-radius: 25px;
    width: 100%;
    padding: 10px 20px;
    color: #fff;
    border: none;
}

.btn-block:hover {
    cursor: pointer;
    background-color: #2fad35;
}


.btn-wrapper {
    background-color: var(--section-background);
}

.btn-wrapper>:nth-child(1) {
    display: block;
    width: auto;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
    position: relative;
    transition: all .35s;
    padding: 0 20px;
}

.btn-wrapper>:nth-child(1) span {
    position: relative;
    z-index: 2;
}

.btn-wrapper>:nth-child(1):after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #fff;
    background-color: var(--black);
    transition: all .35s;
}

.btn-wrapper>:nth-child(1):hover {
    color: #fff;
    cursor: pointer;
}

.btn-wrapper>:nth-child(1):hover:after {
    width: 100%;
}

.n-button,
.ok-button,
.cancel-button {
    line-height: 40px;
    padding: 0 10px;
    font-size: 15px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 18px;
    /* box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); */
}

.n-button:hover {
    /* --box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .1); */
    --box-shadow: #33BCFF;
}

.ok-button {
    background-color: salmon;
    color: #fff;
}

.cancel-button {}

.ok-button:hover {
    background-color: 1px solid rgb(255, 67, 46);
}

.cancel-button:hover {}

.n-button {
    border: 1px solid var(--border);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 7px;
    text-align: center;
}

.n-button:hover {
    cursor: pointer;
    background-color: var(--green);
    /* border: 1px solid #66E7E7;
    background-color: var(--light-background); */
}

.fb-btn {
    font-weight: 500;
    border: 1px solid var(--border);
    background-color: var(--light-color);
    padding: 10px;
}

.fb-btn:hover {
    background-color: var(--green);
    cursor: pointer;
}

.fb-btn-selected {
    border: 1px solid darkgray;
}

.fb-input {
    width: 100%;
    outline: none;
    padding: 6px;
    border: 1px solid var(--light-border);
    border-radius: 6px;
}

.my-checkbox {
    position: relative;
    width: 1rem;
    height: 1rem;
    margin-right: 0.75rem;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    padding: 10px;
}

.my-checkbox:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    border: 1px solid #e9e7e7;
    transition: all 0.3s ease-in-out;
}

.my-checkbox:checked:before {
    height: 50%;
    transform: rotate(-45deg);
    border-top-style: none;
    border-right-style: none;
}

.my-checkbox--teal:checked:before {
    border-color: #009688;
}

.text-center {
    text-align: center;
}

.qty-icon,
.plus-icon,
.minus-icon {
    background-color: #81ab32;
    color: var(--white);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 7px;
    border: #27ae60;
    font-weight: 900;
}

.minus-icon {
    background-color: #c54545;
    border: #ab0000
}

.plus-icon:hover {
    cursor: pointer;
    background-color: var(--green);
    color: var(--white);
}

.minus-icon:hover {
    cursor: pointer;
    background-color: red;
    color: var(--white);
}

.btn-modal-close{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: none;
}
.btn-modal-close:hover{
   cursor: pointer;
   background-color: #81ab32;
}
/* Margins */

.mx-1 {
    margin-right: 10px;
    margin-left: 10px;
}

.my-1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mr-1 {
    margin-right: 10px;
}

.mr-2 {
    margin-right: 20px;
}

.mr-3 {
    margin-right: 30px;
}

.ml-1 {
    margin-left: 10px;
}

.ml-2 {
    margin-left: 20px;
}

.ml-3 {
    margin-left: 30px;
}

.mt-1 {
    margin-top: 10px;
}

.mt-2 {
    margin-top: 20px;
}

.mt-3 {
    margin-top: 30px;
}

.mb-1 {
    margin-bottom: 10px;
}

.mb-2 {
    margin-bottom: 20px;
}

.mb-3 {
    margin-bottom: 30px;
}