<div *ngIf="chef !== null && chef !== undefined">

    <div class="container-fluid">
        <div class="row">
            <div class="col-3 profile-section">
                <img src="/assets/images/users/{{chef._id}}/cover-photo.jpg" height="300" width="100%" class="chef-profile-image">
                <br>
                <strong class="chef-profile-header-name ">{{chef.name}}</strong>
                <br>
                <p style="font-size: small;">
                    {{chef.description}}
                </p>
                <div class="chef-profile-info-container ">
                    <span class="chef-main-address ">{{getAddress()}}</span>
                    <div class="flex-row ">
                        <div class="ratings-div ">
                            <img [src]="chef.rating> 0 ? starSelected : star" style="width: 15px;height: 15px;">
                            <img [src]="chef.rating > 1 ? starSelected : star" style="width: 15px;height: 15px;">
                            <img [src]="chef.rating > 2 ? starSelected : star" style="width: 15px;height: 15px;">
                            <img [src]="chef.rating > 3 ? starSelected : star" style="width: 15px;height: 15px;">
                            <img [src]="chef.rating > 4 ? starSelected : star" style="width: 15px;height: 15px;">
                        </div>
                        <span style="padding-left: 10px;">({{chef.reviews}}
                            reviews)</span>
                    </div>
                </div>
            </div>
            <div class="col-6  main-section">
                <div class="main-profile-section">
                    <img src="/assets/images/users/{{chef._id}}/cover-photo.jpg" height="100" style="object-fit: cover;">
                    <!-- <img src={{chef.coverPhoto}} width="100px" height="100" style="object-fit: cover;"> -->
                    <div class="main-profile-info-section">
                        <span style="font-size: x-large;font-weight: 300;">{{chef.name}}</span>
                        <span style="font-size: small;"><b>Collect at</b></span>
                        <small>{{chef.address.addressLine1}},
                            {{chef.address.addressLine2}},
                            {{chef.address.city}}, {{chef.address.postcode}}</small>

                        <div class="flex-row">
                            <span style="font-size: small;"><b>Service options</b></span>
                            <small style="margin: 0 5px;">Collection</small>
                            <small style="margin: 0 5px;" *ngIf="chef.delivery">Delivery</small>
                        </div>
                    </div>
                </div>
                <strong class="section-header">Menu</strong>
                <div class="scroll-container">
                    <div style="float: left">
                        <img src="/assets/icons/left-arrow.png" alt loading="lazy" class="scroll-left" (click)="scrollLeft()">
                    </div>

                    <div #widgetsContent class="middle">
                        <span *ngFor="let c of collections" class="select-span" (click)="onSelectCategory($event, c)" [class.selectedSpan]="isSelectedCategory(c)">{{c.name}}</span>
                    </div>

                    <div style="float: right">
                        <!-- <button (click)="scrollRight()">right</button> -->
                        <img src="/assets/icons/right-arrow.png" alt loading="lazy" class="scroll-right" (click)="scrollRight()">
                    </div>
                </div>

                <div *ngIf="items_to_display !== null && items_to_display !== undefined &&  items_to_display.length > 0; then ItemsInCategory else NoItemsInCategory">
                </div>

                <div *ngIf="displayCal && calendarsToDisplay !== null && calendarsToDisplay !== undefined && calendarsToDisplay.length > 0">
                    <div *ngFor="let calendar of calendarsToDisplay;  let i = index">
                        <div *ngIf="calendar.menus !== null && calendar.menus !== undefined" class="thisweek">
                            <app-menu-item *ngFor="let menu of calendar.menus" [menu]="menu" [orderBy]="calendar.orderBefore" [displayDescription]="false"></app-menu-item>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 order-section">
                <button class="n-button my-1 mx-1" style="width: 100%;" [routerLink]="[ '/checkout'] " [disabled]="!(order !== null && order !== undefined &&  order.items !== null &&  order.items !== undefined &&  order.items.length > 0)">Go
                    to checkout</button>
                <!-- <div class="btn-wrapper " style="width: 100%; " [routerLink]="[ '/checkout'] ">
                    <div style="display: flex; justify-content: space-between; ">
                        <span>Checkout</span>
                        <span style="font-weight: bolder;font-size: 15px; ">{{cartTotal | currency: 'GBP'}}</span>
                    </div>
                </div> -->

                <div *ngIf="order !== null && order !== undefined &&  order.items !== null &&  order.items !== undefined &&  order.items.length > 0; then itemsBlock else noItemsBlock">
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #noItemsBlock>
    <div class="order-no-items">
        <img src="/assets/icons/shopping-basket.png" height="50px" width="50px" class="empty-bag">
        <span style="margin-top: 10px;font-weight: 900;">
            YOUR BASKET IS EMPTY
        </span>
        <br>
        <span>What are you feeling today?</span>
        <span>Checkout our Home Cooks</span>
    </div>
</ng-template>

<ng-template #itemsBlock>
    <div class="order-with-items">
        <div class="order-items-section">
            <div *ngIf="order !== null && order !== undefined && order.items !== null && order.items !== undefined && order.items.length > 0">
                <app-order-item *ngFor="let item of order.items" [item]="item"></app-order-item>
            </div>
        </div>
        <br>
        <div class="order-summary-section">
            <div class="flex-row-space-between">
                <span>Subtotal</span>
                <span>{{order.subTotal | currency: 'GBP'}}</span>
            </div>
            <div class="flex-row-space-between">
                <span>Delivery fee</span>
                <span>{{order.deliveryFee | currency: 'GBP'}}</span>
            </div>
            <div class="flex-row-space-between">
                <span>Packing fee</span>
                <span>{{order.packingFee | currency: 'GBP'}}</span>
            </div>
            <div class="flex-row-space-between">
                <span>Service Fee</span>
                <span>{{order.serviceFee | currency: 'GBP'}}</span>
            </div>
            <div class="flex-row-space-between" style="margin-top: 10px;">
                <span style="font-weight: 900;">Total</span>
                <span style="font-weight: 900;">{{order.total | currency: 'GBP'}}</span>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #NoItemsInCategory>
    <span style="margin-top: 10px;font-weight: 900;align-self: center;opacity: 0.5;">
        NO ITEMS TO DISPLAY
    </span>
</ng-template>
<ng-template #ItemsInCategory>
    <div class="menu-items-container">
        <app-menu-item *ngFor="let menu of items_to_display" [menu]="menu" [displayDescription]="true">
        </app-menu-item>
    </div>
</ng-template>