.profile-section {
    display: none;
}

.main-section {
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--border);
    width: 100%;
    height: 50%;
}

.main-profile-section {
    display: flex;
    gap: 0.3rem;
    padding: 5px 0;
}

.main-profile-info-section {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
}

.menu-items-container {
    padding: 10px;
}

.order-section {
    display: none;
}

.section-header {
    padding: 10px;
    border-bottom: 1px solid var(--border);
    width: 100%;
}

.section-header-a {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border);
    padding: 13px;
}

.select-span {
    display: flex;
    border-bottom: 1px solid var(--border);
    padding: 6px 10px;
    align-items: center;
    margin: 3px 10px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 7px;
}

.select-span:hover {
    border-bottom: 1px solid var(--black);
    cursor: pointer;
}

.selectedSpan {
    border-bottom: 1px solid var(--black);
    cursor: pointer;
    background-color: var(--green);
}

.order-items-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
}

.calendar-box {
    font-size: 10px;
    margin: 0 5px 0 0;
    padding: 5px;
    align-items: center;
    border: 1px solid var(--border);
    border-radius: 6px;
}

.calendar-box:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.scroll-container {
    min-width: 415px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    padding: 0;
}

.middle {
    display: flex;
    width: 415px;
    padding: 10px;
    overflow-x: hidden;
    white-space: nowrap;
}

.scroll-right,
.scroll-left {
    margin: 10px;
    height: 30px;
    width: 30px;
    /* border: 2px solid rgb(238, 238, 238); */
    border-radius: 50%;
    align-items: center;
    padding: 10px;
    background-color: transparent;
}

.scroll-right:hover {
    cursor: pointer;
    /* border: 2px solid rgb(0, 0, 0); */
    background-color: var(--white);
}

.scroll-left:hover {
    cursor: pointer;
    background-color: var(--white);
    /* border: 2px solid rgb(0, 0, 0); */
}


/* Tablet */

@media (min-width: 600px) {}


/* Desktop/laptop */

@media (min-width: 900px) {
    .profile-section {
        display: flex;
        flex-direction: column;
        border-right: 1px solid var(--border);
        padding: 0;
        width: 25%;
        padding: 10px;
    }
    .chef-profile-image {
        object-fit: cover;
        box-sizing: content-box;
    }
    .main-section {
        display: flex;
        flex-direction: column;
        border-right: 1px solid var(--border);
        padding: 0;
        width: 50%;
    }
    .main-profile-section {
        display: none;
    }
    .order-section {
        display: flex;
        flex-direction: column;
        padding: 5px;
        width: 24%;
    }
    .order-no-items {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 0.1rem;
        align-items: center;
    }
    .order-with-items {
        display: flex;
        flex-direction: column;
        gap: 0.1rem;
        justify-content: center;
        align-items: center;
    }
    .empty-bag {
        opacity: 0.1;
    }
    .order-summary-section {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 5px 30px;
    }
}