<div class="container mt-5 mb-5" *ngIf="order !== null && order !== undefined">
    <div class="row d-flex justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <!-- <div class="text-left logo p-2 px-5">
                    <img src="https://i.imgur.com/2zDU056.png" width="50">
                </div> -->
                <div class="p-5">
                    <h5>Your order Confirmed!</h5>
                    <span class="font-weight-bold d-block mt-4">Hello, {{order.customer.name}}</span>
                    <span>You order has been confirmed !</span>
                    <div *ngIf="order.serviceMode === 'DELIVERY'">
                        <div class="py-2">
                            <span class="d-block text-muted">Delivery Address</span>
                            <div class="address">
                                <span>{{order.customer.address.addressLine1}},</span>
                                <span>{{order.customer.address.addressLine2}}, </span>
                                <span>{{order.customer.address.city}}, </span>
                                <span>{{order.customer.address.postcode}}</span>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="order.serviceMode === 'COLLECTION'">
                        <div class="py-2">
                            <strong class="d-block text-muted">Collection Address</strong>
                            <div class="address">
                                <span>{{order.supplier.address.addressLine1}},</span>
                                <span>{{order.supplier.address.addressLine2}}, </span>
                                <span>{{order.supplier.address.city}}, </span>
                                <span>{{order.supplier.address.postcode}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="border-top mt-3 mb-3 border-bottom table-responsive">
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="py-2">
                                            <span class="d-block text-muted">Order Date</span>
                                            <span>{{order.dateCreated | date: 'dd MMM, yyyy'}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="py-2">
                                            <span class="d-block text-muted">Order Reference</span>
                                            <span>{{order.reference}}</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="py-2">
                                            <span class="d-block text-muted">Payment</span>
                                            <span><img src="https://img.icons8.com/color/48/000000/mastercard.png"
                                                    width="20" /></span>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="product border-bottom table-responsive">
                        <div *ngFor="let item of order.items">
                            <table>
                                <tbody>
                                    <tr class="table-row" width="100px">
                                        <td width="20%">
                                            <!-- <img src="https://i.imgur.com/SmBOua9.jpg" width="70"> -->
                                            <img src="/assets/icons/food-item.png" width="70" style="border:1px solid var(--light-border)">
                                        </td>
                                        <td width="60%">
                                            <span><b>{{item.name}}</b> <small> x <i>{{item.quantity}}</i></small></span>
                                            <div *ngIf="item.choice !== null">
                                                <table>
                                                    <tbody>
                                                        <tr>
                                                            <td width="80%"><i>+ ({{item.choice.name}})</i></td>
                                                            <td width="20%"><small>{{item.choice.price | currency:'GBP'}}</small></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div *ngIf="item.extras !== null">
                                                <table>
                                                    <tbody>
                                                        <tr *ngFor="let extra of item.extras">
                                                            <td width="80%"><i>+ ({{extra.name}})</i></td>
                                                            <td width="20%"><small>{{extra.price | currency:'GBP'}}</small></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <!-- <span *ngFor="let extra of item.extras"><i>+ ({{extra.name}})</i> <small> = {{extra.price | currency:'GBP'}}</small></span> -->
                                            </div>
                                        </td>
                                        <td width="20%">
                                            <div class="text-right">
                                                <strong class="font-weight-bold">{{item.subTotal | currency
                                                    :'GBP'}}</strong>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row d-flex justify-content-end">
                        <div class="col-md-5">
                            <table class="table table-borderless">
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="text-left">
                                                <span class="text-muted">Subtotal</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-right">
                                                <span>{{order.subTotal | currency:'GBP'}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="text-left">
                                                <span class="text-muted">Delivery Fee</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-right">
                                                <span>{{order.deliveryFee | currency:'GBP'}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="text-left">
                                                <span class="text-muted">Service Fee</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-right">
                                                <span>{{order.serviceFee | currency:'GBP'}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="border-top border-bottom">
                                        <td>
                                            <div class="text-left">
                                                <span class="font-weight-bold">Total</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-right">
                                                <strong>{{order.total | currency:'GBP'}}</strong>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div *ngIf="order.serviceMode === 'DELIVERY'">
                        <p>We will be sending confirmation email when the order is ready to be delivered successfully!</p>
                    </div>
                    <div *ngIf="order.serviceMode === 'COLLECTION'">
                        <p>We will be sending confirmation email when the order is ready for collection</p>
                    </div>
                    <p class="font-weight-bold mb-0">Thanks for ordering with us!</p>
                    <span>Lunchie Munchie Team</span>
                </div>
                <div class="d-flex justify-content-between footer p-3">
                    <span>Need Help? visit our <a href="#"> help center</a></span>
                    <span>{{order.dateCreated | date: 'dd MMM, yyyy'}}</span>
                </div>
            </div>
        </div>
    </div>
</div>